// Artificial Design Brand Palette
// June 2018


$mint:          	#AAE2D7;
$sea:             #98CFD8;
$sky:             #85AACC;
$aquamarine:      #8597CC;
$periwinkle:      #7C7CBF;

$deep-violet:     #190033;

$cool-grey-10:		#E2E4E4;
$white:						#FFFFFF;

// additional color specifications

$overlay-background:  rgba(255, 255, 255, 0.9);
