body.search {

  #content {
    background-color: $deep-violet;
    color: $white;
  }

  // This is only necessary because _artificial-base is too aggressive
  input {
    background-color: $white;
  }

}
