// top header
// mobile

@media only screen and (min-device-width: 320px) {
	#header {

		#logo {
			padding-top: 18px;
			padding-bottom: 2px;

			a {
				height: 22px;
				color: $deep-violet;
			}
		}

		#nav-primary {

			.padded-lr{
				overflow: auto;

				ul {
					padding-top: 8px;
					padding-bottom: 14px;

					li {
						a {
							font-weight: 700;
							color: $deep-violet;
						}
						a:hover {
							opacity: 0.75;
						}
					}
					li.active a {
						color: red;
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) {
	#header {

		#logo {
			padding-top: 18px;
			padding-bottom: 10px;

			a {
				height: 22px;
				color: $deep-violet;
			}
		}

		#nav-primary {
			.padded-lr{
				overflow: auto;

				ul {
					padding-top: 28px;
					padding-bottom: 0;
				}
			}
		}
	}
}

#header {
	background-color: $mint;
}

.work_vanmoof #header, .work_3dsystems #header, .work_ugrow #header, .work_corrio #header, .work_facesmart #header, .work_roader #header {
	background-color: $sea;
}

.about_index #header {
	background-color: $sky;
}


// content
body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: $deep-violet;
	background-color: $white;

	a {
		color: $deep-violet;
	}
}


// two-column layout for mobile
.container.packery {
	margin-top: 20px;
}

.extra-padded { padding: 48px 16px 24px 16px; }
.extra-vertical { padding-top: 40px; padding-bottom: 40px; }
.extra-bottom { padding-bottom: 80px; }
.extra-top { padding-top: 80px; }

.small-statement * {
	color: $cool-grey-40;

	strong, a {
		color: $white;
		font-weight: normal;
	}
}

.page-intro {
	padding-top: 100px;
}

.top-tall {
	height: 640px;
}

.top-short {
	height: 460px;
}


// card sizing for case studies and experiments
@media only screen and (min-device-width: 320px) {
	.case-study {
		min-height: 380px;
		border-radius: 4px
	}
	.experiment { height: 320px; }
}
@media only screen and (min-device-width: 768px) {
	.case-study { min-height: 320px; height: 400px; }
	.experiment { height: 240px; }
}
@media only screen and (min-width: 960px) {
	.case-study { height: 340px; }
	.experiment { height: 320px; }
}

// case studies artifacts list
.bleed.artifacts {
	padding: 24px 0 24px 0;
	background-color: $cool-grey-10;
	color: $cool-grey-90;
	text-align: center;

	h2 { margin-bottom: 20px; }
}

svg *.frame { fill: $cool-grey-90; }
svg *.content{ fill: $cool-grey-40; }

// laboratory styles
.bleed.animal-party {
	background-image: url('/laboratory/images/index_background.jpg');
	background-repeat: no-repeat;
	height: 100%;
	position: fixed;
	z-index: -100;
	display: block;
	background-size: 100%;
}

// image bg styles
@media only screen and (min-device-width: 320px) {
	.bleed.about-us {
		background-image: url(/about/images/us.jpg);
		min-height: 160px;
		margin: auto;
		background-position: top center;
	}
	.bleed.service-bg {
		background-color: $cool-grey-90;
		padding-top: 0px;
		margin: auto;
		background-position: bottom center;
		color: $white;
	}
}

@media only screen and (min-device-width: 768px) {
	.bleed.about-us {
		min-height: 360px;
	}
	.bleed.service-bg {
		background-image: url(/services/images/studio.jpg);
		padding-top: 100px;
	}
}

@media only screen and (min-width: 960px) {
	.bleed.about-us {
		min-height: 480px;
	}
	.bleed.service-bg {
		padding-top: 300px;
	}
}

.map {
	height: 400px;

	.mapboxgl-popup-content {
		padding: 10px;
	}
}

.person-logo svg {
	width: 100%;
	height: 100%;
}

.services-button {
	border: 1px solid $cool-grey-90;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
	color: $cool-grey-90;
}

.job-requirements {
	color: $cool-grey-40;
	ul {
		list-style-type: disc;
	}
}

.tools {
	text-align: center;
	color: $white;

	svg *.feather_een { fill: $white; }
	svg { margin-bottom: 20px; }

	ul {
		margin: 0;
		padding: 0;
	}
}

// footer
// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $deep-violet;

		h4, p {
			color: $sea;
		}

			a {
			color: $white;
			font-weight: 500;
		}

		a:hover {
			color: $sea;
		}
		div {
			color: $white;
		}
	}
}

// special styles
.center {
	text-align: center;
}

.white-text { color: $white; }

.dark-text {
	p, a { color: $cool-grey-90; }
}

.dark-fill *, .dark-fill g * {
	fill: $cool-grey-90;
}

.darkest-grey {
	background-color: $cool-grey-90;
	color: $white;
}

.grey {
	background-color: $cool-grey-50;
	h1, a {
		color: $white;
	}
}

.tulip {
	background-color: $tulip;

	h3 {
		font-size: 2em;
		color: $dark-tulip;
		padding-bottom: 5px;
		margin-top: 20px;
	}

}

.turquoise {
	background-color: $turquoise;
	a {
		color: white;
	}
}

.section {
	padding-top: 64px;
	padding-bottom: 64px;
}

.section-title {
	margin-top: 64px;
	margin-bottom: 200px;
}

.card-stack {
	margin-top: -240px;
}

.link-stack a {
	color: $deep-violet;
}

.blog-title {
	margin-top: 100px;
}

.statement a {
	background-color: $sea;
	color: $deep-violet;
	text-decoration: none;
}

// card colors
.case-study {
	background-color: $sea;
	color: $deep-violet;
	text-align: center;
	img {
		margin-bottom: 10px;
	}
}

.expertise {
	background-color: $sky;
	color: $deep-violet;
	text-align: center;
}

.svg-padding {
	padding: 20px 0 20px 0;
}

.offset-top {
	margin-top: -240px;
}

// background colors

.white { background-color: $white; }

.mint { background-color: $mint; }
.sea { background-color: $sea; }
.sky { background-color: $sky; }
.aquamarine { background-color: $aquamarine; }
.periwinkle { background-color: $periwinkle; }

.deep-violet {
	background-color: $deep-violet;
	color: $white;
}

// text & svg colors
.svg-deep-violet {
	fill: $deep-violet;
}
