// top header
// mobile

@media only screen and (min-device-width: 320px) {
	#header {

		#logo {
			padding-top: 18px;
			padding-bottom: 2px;

			a {
				height: 22px;
				color: $deep-violet;
			}
		}

		#nav-primary {

			.padded-lr{
				overflow: auto;

				ul {
					padding-top: 8px;
					padding-bottom: 14px;

					li {
						a {
							font-weight: 700;
							color: $deep-violet;
						}
						a:hover {
							opacity: 0.75;
						}
					}
					li.active a {
						color: red;
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) {
	#header {

		#logo {
			padding-top: 18px;
			padding-bottom: 10px;

			a {
				height: 22px;
				color: $deep-violet;
			}
		}

		#nav-primary {
			.padded-lr{
				overflow: auto;

				ul {
					padding-top: 28px;
					padding-bottom: 0;
				}
			}
		}
	}
}

// navigation color schemes
#footer .container {
	padding-top: 80px;
}

#header {
	background-color: $mint;
}

#footer-logo {
	fill: $mint;
}

#footer-notes p {
	color: $mint;
}

.work_vanmoof #header, .work_3dsystems #header, .work_ugrow #header, .work_corrio #header, .work_facesmart #header, .work_roader #header {
	background-color: $sea;
}

.work_vanmoof #footer-logo, .work_3dsystems #footer-logo, .work_ugrow #footer-logo, .work_corrio #footer-logo, .work_facesmart #footer-logo, .work_roader #footer-logo {
	fill: $sea;
}

.work_vanmoof #footer-notes p, .work_3dsystems #footer-notes p, .work_ugrow #footer-notes p, .work_corrio #footer-notes p, .work_facesmart #footer-notes p, .work_roader #footer-notes p {
	color: $sea;
}

.about_index #header {
	background-color: $sky;
}

.about_index #footer-logo {
	fill: $sky;
}

.about_index #footer-notes p {
	color: $sky;
}

.blog_index #header {
	background-color: $aquamarine;
}

.blog_index #footer-logo {
	fill: $aquamarine;
}

.blog_index #footer-notes p {
	color: $aquamarine;
}

.blog:not(.blog_index) #header {
	background-color: $periwinkle;
}

.blog:not(.blog_index) #footer-logo {
	fill: $periwinkle;
}

.blog:not(.blog_index) #footer-notes p {
	color: $periwinkle;
}



// content
body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: $deep-violet;
	background-color: $white;

	a {
		color: $deep-violet;
	}
}


// two-column layout for mobile
.container.packery {
	margin-top: 20px;
}

.extra-padded { padding: 48px 16px 24px 16px; }
.extra-vertical { padding-top: 40px; padding-bottom: 40px; }
.extra-bottom { padding-bottom: 80px; }
.extra-top { padding-top: 80px; }

.small-statement * {
	color: $cool-grey-40;

	strong, a {
		color: $white;
		font-weight: normal;
	}
}


// page introductions
.top-tall {
	height: 640px;
}

.top-short {
	height: 460px;
}

.top-contextual {
	padding-bottom: 80px;
}

.page-intro {
	padding-top: 100px;
}

// card sizing for case studies and experiments
@media only screen and (min-device-width: 320px) {
	.case-study, .blog-feature {
		min-height: 380px;
		border-radius: 2px
	}
	.svg-adaptive {
		width: 100%;
	}
}

@media only screen and (min-device-width: 768px) {
	.case-study, .blog-feature {
		min-height: 280px;
		height: 280px;
	}
	.svg-adaptive {
		width: 100%;
	}
}

@media only screen and (min-width: 960px) {
	.case-study, .blog-feature {
		height: 340px;
	}
	.svg-adaptive {
		width: 100%;
	}
}

// footer
// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $deep-violet;

		h4, p {
			color: $sea;
		}

			a {
			color: $white;
			font-weight: 500;
		}

		a:hover {
			color: $sea;
		}
		div {
			color: $white;
		}
	}
}

// special styles
.center {
	text-align: center;
}

.white-text { color: $white; }

.dark-text {
	p, a { color: $cool-grey-90; }
}

.dark-fill *, .dark-fill g * {
	fill: $cool-grey-90;
}

.darkest-grey {
	background-color: $cool-grey-90;
	color: $white;
}

.grey {
	background-color: $cool-grey-50;
	h1, a {
		color: $white;
	}
}

.tulip {
	background-color: $tulip;

	h3 {
		font-size: 2em;
		color: $dark-tulip;
		padding-bottom: 5px;
		margin-top: 20px;
	}

}

.turquoise {
	background-color: $turquoise;
	a {
		color: white;
	}
}

.section {
	padding-top: 64px;
	padding-bottom: 64px;
}

.section-title {
	margin-top: 64px;
	margin-bottom: 200px;
}

.card-stack {
	margin-top: -240px;
}

.link-stack a {
	color: $deep-violet;
}

.blog-stack a {
	text-decoration: none;
}

a.blog-title {
	font-weight: 600;
}

.blog-title {
	margin-top: 100px;
}

a.arrow {
	float: right;
}

.statement a {
	background-color: $sea;
	color: $deep-violet;
	text-decoration: none;
}

// card colors
.case-study {
	background-color: $sea;
	color: $deep-violet;
	text-align: center;
	img {
		margin-bottom: 10px;
	}
}

.expertise {
	background-color: $sky;
	color: $deep-violet;
	text-align: center;
}

.blog-feature {
	background-color: $periwinkle;
	color: $white;
}

a.blog-link {
	text-decoration: none;
}

.svg-padding {
	padding: 20px 0 20px 0;
}

.offset-top {
	margin-top: -240px;
}

// background colors

.white { background-color: $white; }

.mint { background-color: $mint; }
.sea { background-color: $sea; }
.sky { background-color: $sky; }
.aquamarine { background-color: $aquamarine; }
.periwinkle { background-color: $periwinkle; }

.deep-violet {
	background-color: $deep-violet;
	color: $white;
}

// text & svg colors
.svg-deep-violet {
	fill: $deep-violet;
}
