---
title: Philips FaceSmart
date: 2013-09-01
snippet: "helping men understand their skin"
thumbnail: facesmart_cover.png
color: sea
order: 3
---
<section id="content">

	<div class="bleed sea top-tall">
		<div class="flex container page-intro">
			<div class="col-10 right-2">
				<div class="padded">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
						 <path class="svg-deep-violet" d="M43.42,23.736h-6.876v8.955h-7.158v-8.955h-6.876v22.528h6.876v-8.86h7.158v8.86h6.876V23.736
	 						L43.42,23.736z M67.344,41.739V23.736h-6.876v22.528h12.433l1.036-4.525H67.344L67.344,41.739z M55.382,23.736h-6.875v22.528h6.875
	 						V23.736L55.382,23.736z M83.261,23.736h-6.876v22.528h6.876V23.736L83.261,23.736z M117.169,29.486c0-1.225,1.224-1.791,3.202-1.791
	 						c2.166,0,4.521,0.471,6.122,1.131l-0.565-4.902c-1.79-0.377-3.391-0.66-6.311-0.66c-5.557,0-9.324,2.191-9.324,6.786
	 						c0,7.918,10.737,6.316,10.737,9.992c0,1.414-1.036,2.168-3.579,2.168c-2.261,0-5.746-0.754-7.818-1.791l0.754,5.184
	 						c2.072,0.754,4.898,1.131,7.158,1.131c5.746,0,10.455-1.885,10.455-7.541C128,31.654,117.169,33.068,117.169,29.486L117.169,29.486z
	 						 M97.766,40.891c6.405,0,10.455-3.299,10.455-9.049c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.382,0.471v22.528
	 						h6.876v-5.373H97.766L97.766,40.891z M101.44,31.936c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023
	 						C99.838,27.506,101.44,29.109,101.44,31.936L101.44,31.936z M9.325,40.891c6.405,0,10.455-3.299,10.455-9.049
	 						c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.383,0.471v22.528h6.876v-5.373H9.325L9.325,40.891z M12.998,31.936
	 						c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023C11.397,27.506,12.998,29.109,12.998,31.936
	 						L12.998,31.936z"/>
					</svg>
					<h1 class="small-title">Building confidence through data visualization</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6">
			<div class="padded">
				<img class="offset-top" src="images/facesmart_cover.png" alt="Philips FaceSmart">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<p class="statement">Smart face care is a range of products including a FaceSmart shaver and cleansing brush, a SkinAnalyst sensor and an iPhone app. We worked together with Philips Male Grooming to create an app to support users in measuring and improving their facial skin hydration and gloss.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">Using design to inspire new possibilities</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>The FaceSmart project was already well underway when The Artificial was engaged. We helped to disrupt the ongoing work and solidify the existing thinking by creating additional architectural and visual design directions.</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<img src="images/facesmart_designs.png" alt="gestural design">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">Letting data visualization lead the experience</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>FaceSmart revolves around two types of visualization: a single measurement of skin hydration and gloss and those measurements shown over time. We focused on finding the best way to communicate this data, knowing that these visualizations would be the user’s core experience.</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<img src="images/facesmart_data.png" alt="finding the perfect data visualization">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">Keeping compromises minimal</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>We worked closely with the internal design and development team to make sure the design was implemented correctly and that compromises were considered and intentional when made.</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<img src="images/facesmart_flows.png" alt="ensuring quality through development">
	</div>

	<div class="bleed sea">
		<div class="flex container extra-padded">
			<div class="col-8 right-4">
				<div class="padded">
					<p class="label">Artificial Team</p>
					<p class="subheading">Shannon E. Thomas, Hans Gerwitz, Carol Liao, Ariane Garoff</p>
				</div>
			</div>
		</div>
	</div>

</section>
