---
title: Our Work
noindex: true
---

<!-- page content -->
<section id="content">
	<div class="bleed mint top-tall">
		<div class="flex container page-intro">
			<div class="col-12">
				<div class="padded">
					<p class="label">Case Studies</p>
					<h1 class="title">A Selection of Projects</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- cards -->
	<div class="flex container card-stack extra-bottom">
		<div class="left-2 col-3">
			<a href="vanmoof.html">
				<div class="card case-study">
					<div class="padded">
						<img src="images/vanmoof_cover.png" alt="VanMoof Smart Bike UX">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
						<path class="svg-deep-violet" d="M49.632,28.07v13.976c0,0.431-0.38,0.783-0.846,0.783h-0.025c-0.441,0-0.617-0.119-0.722-0.224
							c0.001,0.001,0.001,0.002,0.001,0.002c-0.002,0-0.066-0.059-0.138-0.125L36.605,32.089v9.9c0,0.434-0.382,0.786-0.851,0.786h-0.969
							c-0.468,0-0.849-0.351-0.849-0.786V27.953c0-0.432,0.38-0.784,0.849-0.784c0.51,0,0.675,0.16,0.737,0.219l11.44,10.526V28.07
							c0-0.463,0.381-0.843,0.849-0.843h0.974C49.252,27.227,49.632,27.607,49.632,28.07z M30.846,42.533
							c-0.135,0.22-0.38,0.352-0.655,0.352h-1.12c-0.142,0-0.623-0.031-0.828-0.42l-1.206-2.399h-7.872l-1.204,2.395
							c-0.219,0.395-0.689,0.424-0.828,0.424h-1.121c-0.272,0-0.515-0.13-0.651-0.348c-0.135-0.215-0.144-0.491-0.022-0.735l0.054-0.102
							c0.055-0.111,0.148-0.301,0.209-0.418l6.531-12.986c0.062-0.12,0.156-0.307,0.211-0.418l0.109-0.218
							c0.258-0.526,1.036-0.53,1.298,0.004l7.111,14.135C30.985,42.036,30.98,42.312,30.846,42.533z M25.704,37.415l-2.605-5.176
							l-2.602,5.176H25.704z M15.61,28.198c0.122-0.244,0.113-0.518-0.023-0.736c-0.135-0.218-0.379-0.347-0.651-0.347h-1.122
							c-0.14,0-0.616,0.03-0.83,0.43L7.85,37.762L2.71,27.544c-0.201-0.398-0.686-0.429-0.83-0.429H0.759c-0.273,0-0.517,0.13-0.652,0.348
							c-0.135,0.217-0.143,0.493-0.019,0.738l6.794,13.509l0.322,0.638c0.134,0.259,0.375,0.414,0.646,0.414
							c0.272,0,0.513-0.156,0.649-0.423l6.853-13.629L15.61,28.198z M69.477,27.485c-0.139-0.197-0.365-0.31-0.62-0.31h-1.122
							c-0.294,0-0.666,0.114-0.812,0.405c-0.022,0.04-0.063,0.121-0.107,0.206l-5.045,10.037l-4.985-9.912l-0.156-0.304
							c-0.16-0.319-0.534-0.433-0.83-0.433h-1.122c-0.223,0-0.422,0.088-0.561,0.247c-0.06,0.068-0.105,0.146-0.135,0.232l-0.061,0.067
							v14.216c0,0.465,0.381,0.846,0.849,0.846h0.968c0.469,0,0.851-0.381,0.851-0.846V33.39l4.207,8.364
							c0.049,0.105,0.131,0.263,0.221,0.439l0.101,0.198c0.126,0.267,0.377,0.434,0.654,0.434c0.276,0,0.519-0.157,0.65-0.422l0.117-0.231
							c0.034-0.074,0.088-0.181,0.136-0.275l4.273-8.491v8.53c0,0.465,0.382,0.846,0.851,0.846h0.971c0.468,0,0.849-0.381,0.849-0.846
							V28.021l-0.008-0.128C69.607,27.746,69.562,27.606,69.477,27.485z M108.18,35.001c0,4.301-3.52,7.801-7.847,7.801
							c-4.329,0-7.85-3.5-7.85-7.801c0-2.082,0.816-4.043,2.298-5.52c1.476-1.471,3.448-2.279,5.552-2.279
							C104.66,27.201,108.18,30.7,108.18,35.001z M105.509,35.001c0-1.377-0.538-2.671-1.515-3.643c-0.98-0.972-2.281-1.508-3.661-1.508
							c-1.382,0-2.684,0.536-3.666,1.509c-0.978,0.973-1.517,2.267-1.517,3.642c0,1.373,0.539,2.666,1.518,3.641
							c0.981,0.973,2.283,1.509,3.665,1.509c1.381,0,2.681-0.536,3.661-1.509C104.971,37.67,105.509,36.375,105.509,35.001z
							 M89.408,35.001c0,4.301-3.52,7.801-7.847,7.801c-4.328,0-7.849-3.5-7.849-7.801c0-2.085,0.816-4.044,2.299-5.521
							c1.479-1.47,3.45-2.279,5.55-2.279C85.887,27.201,89.408,30.7,89.408,35.001z M86.738,35.001c0-1.377-0.538-2.671-1.516-3.643
							c-0.98-0.973-2.28-1.508-3.662-1.508c-1.384,0-2.686,0.536-3.667,1.509c-0.975,0.973-1.512,2.267-1.512,3.642
							c0,1.373,0.537,2.667,1.514,3.642c0.98,0.972,2.282,1.508,3.666,1.508c1.383,0,2.682-0.536,3.66-1.509
							C86.199,37.67,86.738,36.375,86.738,35.001z M127.152,27.201h-14.001c-0.468,0-0.849,0.377-0.849,0.841v13.915
							c0,0.466,0.381,0.845,0.849,0.845h0.971c0.469,0,0.851-0.379,0.851-0.845v-5.629h5.661c0.469,0,0.851-0.38,0.851-0.845v-0.964
							c0-0.465-0.382-0.844-0.851-0.844h-5.661V29.85h12.179c0.467,0,0.848-0.378,0.848-0.841v-0.967
							C128,27.578,127.62,27.201,127.152,27.201z"/>
						</svg>
					</div>
				</div>
			</a>
		</div>
		<div class="col-3">
			<a href="3dsystems.html">
				<div class="card case-study">
					<div class="padded">
						<img src="images/3dsystems_cover.png" alt="3D Systems Consumer Printer App">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <path class="svg-deep-violet" d="M39.885,32.498h8.644c0.065,2.275,0.845,3.9,1.43,4.81c0.585,0.91,1.365,1.17,2.73,1.17
            	c1.3,0,2.275-0.455,2.99-1.3c0.715-0.845,0.845-2.665,0.845-5.07c0-2.795-0.325-4.81-1.365-5.655
            	c-0.975-0.78-2.47-0.585-5.005-0.585c-0.65,0-1.235,0.065-1.69,0.065l0.13-7.864h0.455c2.86,0,4.745-0.39,5.655-1.235
            	c0.845-0.845,1.3-2.6,1.3-5.135c0-2.015-0.065-3.77-1.04-4.355c-1.17-0.715-3.77-0.91-4.94,0c-1.17,0.65-0.975,3.12-0.975,4.355
            	h-8.514c-0.715-2.795,0.65-7.734,2.86-9.554C45.344,0.52,48.464,0,52.624,0c4.29,0,7.539,0.845,9.424,2.73
            	c5.33,5.2,11.764,10.139,17.484,15.014l2.73,2.015l2.925,2.6l1.625,2.08l-0.39,0.325l-1.17-1.69l-2.08-2.08l-1.495-1.17l-1.95-1.365
            	l-1.3-0.26h-2.275L64.518,8.384c0.065,0.65,0.13,1.3,0.195,2.015l23.463,19.824v0.78L72.902,18.199h-2.86l-5.395-4.355
            	c0,0.585-0.065,1.235-0.13,1.755l23.658,20.019v0.845l-9.164-7.864v2.73l-8.124-6.889h3.25l-7.344-6.24h-2.925
            	c-0.195,0.52-0.39,0.91-0.715,1.3l25.023,21.318v0.845l-9.164-7.799v2.73l-10.334-8.709v-2.6l-5.98-5.265
            	c-0.91,0.91-2.21,1.365-3.64,1.69c2.275,0.65,4.03,1.365,5.005,2.925c0.26,0.455,0.52,0.975,0.715,1.56l23.203,19.889l-0.195,0.52
            	l-8.774-7.41v2.6l-10.334-8.384v-2.86l-3.575-3.12c0.26,1.365,0.39,2.925,0.39,4.81c0,0.065,0,0.065,0,0.13l21.318,17.874
            	l-0.455,0.455l-7.344-6.24v0.91l-0.585,1.3l-9.749-8.059v-2.795l-3.185-2.665c-0.065,1.495-0.26,2.795-0.52,4.03l19.174,16.249
            	l-0.39,0.52l-6.5-5.59l-1.82,0.91l-6.759-5.46v-2.535l-3.965-3.25c-0.39,1.105-0.845,2.08-1.495,2.925l17.874,15.144l-0.52,0.455
            	l-8.124-7.02h-3.77v-3.12l-5.85-4.94c-0.715,0.91-1.69,1.69-2.665,2.21l15.794,13.389l-0.65,0.26L59.708,44.262v2.73l-2.535-2.145
            	c-0.52,0.13-1.04,0.195-1.56,0.325l13.844,11.829l-0.65,0.195l-8.969-7.604v2.47l-8.059-6.695c-0.845,0-1.69,0-2.47-0.065
            	l14.104,11.959h-0.78l-2.795-2.34v2.47L42.81,43.092h0.065c-0.065,0-0.065-0.065-0.065-0.065
            	C40.535,40.947,39.56,35.552,39.885,32.498L39.885,32.498z M40.34,67.725C40.47,69.285,41.25,70,42.614,70
            	c0.78,0,1.365-0.195,1.69-0.585c0.39-0.39,0.585-0.845,0.585-1.43c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715
            	c-0.26-0.13-0.65-0.325-1.235-0.455c-0.52-0.195-0.91-0.325-1.04-0.455c-0.13-0.13-0.195-0.26-0.195-0.455
            	c0-0.195,0.065-0.325,0.26-0.455c0.13-0.13,0.39-0.195,0.65-0.195c0.325,0,0.585,0.065,0.715,0.26c0.195,0.13,0.26,0.39,0.325,0.715
            	l1.105-0.065c0-0.65-0.195-1.105-0.585-1.495c-0.325-0.325-0.845-0.52-1.495-0.52c-0.455,0-0.845,0.065-1.105,0.26
            	c-0.325,0.13-0.52,0.325-0.715,0.65c-0.13,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.325,0.52,0.52,0.65c0.26,0.195,0.585,0.325,1.105,0.52c0.52,0.13,0.845,0.26,0.975,0.325
            	c0.13,0.065,0.26,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39c0,0.26-0.065,0.455-0.26,0.65
            	c-0.195,0.13-0.455,0.26-0.78,0.26c-0.715,0-1.105-0.455-1.235-1.3L40.34,67.725L40.34,67.725z M49.114,69.87h1.105v-2.795
            	l2.08-3.835h-1.3l-1.3,2.6l-1.3-2.6h-1.3l2.015,3.835V69.87L49.114,69.87z M54.444,67.725c0.13,1.56,0.91,2.275,2.275,2.275
            	c0.78,0,1.3-0.195,1.69-0.585c0.325-0.39,0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715
            	c-0.26-0.13-0.65-0.325-1.235-0.455c-0.52-0.195-0.845-0.325-0.975-0.455c-0.195-0.13-0.26-0.26-0.26-0.455
            	c0-0.195,0.065-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195c0.26,0,0.52,0.065,0.715,0.26c0.13,0.13,0.26,0.39,0.26,0.715
            	l1.17-0.065c-0.065-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52c-0.455,0-0.78,0.065-1.105,0.26
            	c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.26,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52c0.52,0.13,0.845,0.26,1.04,0.325
            	c0.13,0.065,0.195,0.13,0.26,0.26c0.065,0.065,0.13,0.195,0.13,0.39c0,0.26-0.13,0.455-0.325,0.65c-0.195,0.13-0.455,0.26-0.78,0.26
            	c-0.65,0-1.105-0.455-1.235-1.3L54.444,67.725L54.444,67.725z M62.958,69.87h1.17v-5.525h1.625V63.24h-4.42v1.105h1.625V69.87
            	L62.958,69.87z M68.353,69.87h4.225v-1.105h-3.12v-1.82h2.795V65.84h-2.795v-1.495h2.99V63.24h-4.095V69.87L68.353,69.87z
            	 M75.372,69.87h1.04v-5.2l1.105,5.2h1.04l1.105-5.2v5.2h1.105v-6.63h-1.69l-1.04,4.55l-0.975-4.55h-1.69V69.87L75.372,69.87z
            	 M83.432,67.725c0.13,1.56,0.91,2.275,2.275,2.275c0.78,0,1.3-0.195,1.69-0.585s0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04
            	c-0.13-0.26-0.325-0.52-0.585-0.715c-0.195-0.13-0.65-0.325-1.17-0.455c-0.585-0.195-0.91-0.325-1.04-0.455
            	c-0.195-0.13-0.26-0.26-0.26-0.455c0-0.195,0.13-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195s0.52,0.065,0.715,0.26
            	c0.13,0.13,0.26,0.39,0.325,0.715l1.105-0.065c0-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52
            	c-0.39,0-0.78,0.065-1.105,0.26c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975
            	c0,0.325,0.065,0.585,0.195,0.845c0.13,0.26,0.325,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52
            	c0.52,0.13,0.91,0.26,1.04,0.325c0.13,0.065,0.195,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39
            	c0,0.26-0.065,0.455-0.26,0.65c-0.195,0.13-0.52,0.26-0.845,0.26c-0.65,0-1.105-0.455-1.17-1.3L83.432,67.725L83.432,67.725z
            	 M40.34,67.725C40.47,69.285,41.25,70,42.614,70c0.78,0,1.365-0.195,1.69-0.585c0.39-0.39,0.585-0.845,0.585-1.43
            	c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715c-0.26-0.13-0.65-0.325-1.235-0.455
            	c-0.52-0.195-0.91-0.325-1.04-0.455c-0.13-0.13-0.195-0.26-0.195-0.455c0-0.195,0.065-0.325,0.26-0.455
            	c0.13-0.13,0.39-0.195,0.65-0.195c0.325,0,0.585,0.065,0.715,0.26c0.195,0.13,0.26,0.39,0.325,0.715l1.105-0.065
            	c0-0.65-0.195-1.105-0.585-1.495c-0.325-0.325-0.845-0.52-1.495-0.52c-0.455,0-0.845,0.065-1.105,0.26
            	c-0.325,0.13-0.52,0.325-0.715,0.65c-0.13,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.325,0.52,0.52,0.65c0.26,0.195,0.585,0.325,1.105,0.52c0.52,0.13,0.845,0.26,0.975,0.325
            	c0.13,0.065,0.26,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39c0,0.26-0.065,0.455-0.26,0.65
            	c-0.195,0.13-0.455,0.26-0.78,0.26c-0.715,0-1.105-0.455-1.235-1.3L40.34,67.725L40.34,67.725z M49.114,69.87h1.105v-2.795
            	l2.08-3.835h-1.3l-1.3,2.6l-1.3-2.6h-1.3l2.015,3.835V69.87L49.114,69.87z M54.444,67.725c0.13,1.56,0.91,2.275,2.275,2.275
            	c0.78,0,1.3-0.195,1.69-0.585c0.325-0.39,0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715
            	c-0.26-0.13-0.65-0.325-1.235-0.455c-0.52-0.195-0.845-0.325-0.975-0.455c-0.195-0.13-0.26-0.26-0.26-0.455
            	c0-0.195,0.065-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195c0.26,0,0.52,0.065,0.715,0.26c0.13,0.13,0.26,0.39,0.26,0.715
            	l1.17-0.065c-0.065-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52c-0.455,0-0.78,0.065-1.105,0.26
            	c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.26,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52c0.52,0.13,0.845,0.26,1.04,0.325
            	c0.13,0.065,0.195,0.13,0.26,0.26c0.065,0.065,0.13,0.195,0.13,0.39c0,0.26-0.13,0.455-0.325,0.65c-0.195,0.13-0.455,0.26-0.78,0.26
            	c-0.65,0-1.105-0.455-1.235-1.3L54.444,67.725L54.444,67.725z M62.958,69.87h1.17v-5.525h1.625V63.24h-4.42v1.105h1.625V69.87
            	L62.958,69.87z M68.353,69.87h4.225v-1.105h-3.12v-1.82h2.795V65.84h-2.795v-1.495h2.99V63.24h-4.095V69.87L68.353,69.87z
            	 M75.372,69.87h1.04v-5.2l1.105,5.2h1.04l1.105-5.2v5.2h1.105v-6.63h-1.69l-1.04,4.55l-0.975-4.55h-1.69V69.87L75.372,69.87z
            	 M83.432,67.725c0.13,1.56,0.91,2.275,2.275,2.275c0.78,0,1.3-0.195,1.69-0.585s0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04
            	c-0.13-0.26-0.325-0.52-0.585-0.715c-0.195-0.13-0.65-0.325-1.17-0.455c-0.585-0.195-0.91-0.325-1.04-0.455
            	c-0.195-0.13-0.26-0.26-0.26-0.455c0-0.195,0.13-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195s0.52,0.065,0.715,0.26
            	c0.13,0.13,0.26,0.39,0.325,0.715l1.105-0.065c0-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52
            	c-0.39,0-0.78,0.065-1.105,0.26c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975
            	c0,0.325,0.065,0.585,0.195,0.845c0.13,0.26,0.325,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52
            	c0.52,0.13,0.91,0.26,1.04,0.325c0.13,0.065,0.195,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39
            	c0,0.26-0.065,0.455-0.26,0.65c-0.195,0.13-0.52,0.26-0.845,0.26c-0.65,0-1.105-0.455-1.17-1.3L83.432,67.725L83.432,67.725z
            	 M42.875,48.747c-0.39,0-0.78,0.13-1.105,0.325c-0.325,0.195-0.65,0.455-0.845,0.78c-0.195,0.39-0.325,0.78-0.325,1.235
            	c0,0.585,0.195,1.105,0.65,1.625c0.455,0.455,0.975,0.65,1.625,0.65c0.39,0,0.715-0.065,1.04-0.26c0.39-0.195,0.65-0.52,0.845-0.845
            	c0.26-0.39,0.325-0.78,0.325-1.17c0-0.65-0.195-1.17-0.65-1.625C44.044,49.006,43.459,48.747,42.875,48.747L42.875,48.747z
            	 M42.875,49.137c0.455,0,0.91,0.195,1.235,0.52c0.39,0.39,0.585,0.845,0.585,1.43c0,0.52-0.13,0.91-0.455,1.3
            	c-0.39,0.39-0.845,0.585-1.365,0.585c-0.52,0-0.975-0.13-1.3-0.52c-0.39-0.39-0.585-0.845-0.585-1.365c0-0.52,0.13-0.975,0.52-1.365
            	C41.835,49.331,42.289,49.137,42.875,49.137L42.875,49.137z M41.835,52.321h0.39v-1.04h0.26c0.13,0,0.26,0.065,0.325,0.065
            	c0.065,0.13,0.26,0.325,0.39,0.585l0.195,0.39h0.52l-0.325-0.455c-0.13-0.26-0.26-0.39-0.325-0.52c-0.065,0-0.13-0.065-0.195-0.13
            	c0.195,0,0.325-0.065,0.455-0.195c0.13-0.13,0.195-0.325,0.195-0.52c0-0.13,0-0.26-0.13-0.325c-0.065-0.13-0.13-0.195-0.26-0.26
            	c-0.13-0.065-0.325-0.065-0.65-0.065h-0.845V52.321L41.835,52.321z M42.225,50.956v-0.78h0.455c0.195,0,0.325,0,0.39,0.065
            	c0.065,0,0.13,0.065,0.195,0.13c0,0.065,0.065,0.13,0.065,0.195c0,0.13-0.065,0.195-0.13,0.26c-0.13,0.065-0.26,0.13-0.455,0.13
            	H42.225L42.225,50.956z"/>
            </svg>
					</div>
				</div>
			</a>
		</div>

		<div class="col-3 right-1">
			<a href="ugrow.html">
				<div class="card case-study">
					<div class="padded">
						<img src="images/ugrow_cover.png" alt="Philips Avent uGrow Platform UX">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <path class="svg-deep-violet" d="M43.42,23.736h-6.876v8.955h-7.158v-8.955h-6.876v22.528h6.876v-8.86h7.158v8.86h6.876V23.736
            	L43.42,23.736z M67.344,41.739V23.736h-6.876v22.528h12.433l1.036-4.525H67.344L67.344,41.739z M55.382,23.736h-6.875v22.528h6.875
            	V23.736L55.382,23.736z M83.261,23.736h-6.876v22.528h6.876V23.736L83.261,23.736z M117.169,29.486c0-1.225,1.224-1.791,3.202-1.791
            	c2.166,0,4.521,0.471,6.122,1.131l-0.565-4.902c-1.79-0.377-3.391-0.66-6.311-0.66c-5.557,0-9.324,2.191-9.324,6.786
            	c0,7.918,10.737,6.316,10.737,9.992c0,1.414-1.036,2.168-3.579,2.168c-2.261,0-5.746-0.754-7.818-1.791l0.754,5.184
            	c2.072,0.754,4.898,1.131,7.158,1.131c5.746,0,10.455-1.885,10.455-7.541C128,31.654,117.169,33.068,117.169,29.486L117.169,29.486z
            	 M97.766,40.891c6.405,0,10.455-3.299,10.455-9.049c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.382,0.471v22.528
            	h6.876v-5.373H97.766L97.766,40.891z M101.44,31.936c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023
            	C99.838,27.506,101.44,29.109,101.44,31.936L101.44,31.936z M9.325,40.891c6.405,0,10.455-3.299,10.455-9.049
            	c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.383,0.471v22.528h6.876v-5.373H9.325L9.325,40.891z M12.998,31.936
            	c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023C11.397,27.506,12.998,29.109,12.998,31.936
            	L12.998,31.936z"/>
            </svg>
					</div>
				</div>
			</a>
		</div>
		<div class="left-2 col-3">
			<a href="corrio.html">
				<div class="card case-study">
					<div class="padded">
						<img src="images/corrio_cover.png" alt="Corrio Experience Design">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <path class="svg-deep-violet" d="M54.621,25.193c-2.915,0-5.153,0.833-6.715,2.498c-1.562,1.665-2.342,4.076-2.342,7.234
            	c0,3.157,0.779,5.579,2.336,7.266c1.557,1.687,3.789,2.53,6.695,2.53c2.906,0,5.138-0.843,6.695-2.53
            	c1.557-1.687,2.335-4.1,2.335-7.24c0-3.148-0.772-5.562-2.316-7.24C59.765,26.032,57.536,25.193,54.621,25.193z M54.595,41.347
            	c-1.6,0-2.803-0.536-3.607-1.609c-0.804-1.072-1.207-2.668-1.207-4.788c0-2.119,0.406-3.717,1.22-4.794
            	c0.813-1.077,2.02-1.615,3.62-1.615c3.192,0,4.788,2.137,4.788,6.41C59.409,39.215,57.804,41.347,54.595,41.347z M79.412,34.152
            	c0.614-0.869,0.921-1.862,0.921-2.978c0-1.912-0.619-3.337-1.855-4.275c-1.237-0.938-3.145-1.408-5.722-1.408h-5.527v18.969h4.022
            	v-7.279h2.141l4.528,7.279h4.463c-0.865-1.246-2.725-4-5.579-8.265C77.929,35.703,78.798,35.022,79.412,34.152z M75.364,33.277
            	c-0.606,0.424-1.544,0.636-2.816,0.636h-1.298v-5.125h1.22c1.297,0,2.255,0.19,2.874,0.571c0.618,0.381,0.928,1.021,0.928,1.92
            	C76.272,32.187,75.969,32.853,75.364,33.277z M96.955,34.152c0.614-0.869,0.921-1.862,0.921-2.978c0-1.912-0.619-3.337-1.855-4.275
            	c-1.237-0.938-3.144-1.408-5.722-1.408h-5.527v18.969h4.022v-7.279h2.141l4.528,7.279h4.463c-0.865-1.246-2.725-4-5.579-8.265
            	C95.471,35.703,96.34,35.022,96.955,34.152z M92.906,33.277c-0.606,0.424-1.544,0.636-2.816,0.636h-1.298v-5.125h1.22
            	c1.298,0,2.256,0.19,2.874,0.571c0.619,0.381,0.928,1.021,0.928,1.92C93.815,32.187,93.512,32.853,92.906,33.277z M102.313,25.491
            	h4.022v18.969h-4.022V25.491z M125.684,27.71c-1.544-1.678-3.774-2.517-6.689-2.517c-2.915,0-5.153,0.833-6.715,2.498
            	c-1.561,1.665-2.342,4.076-2.342,7.234c0,3.157,0.779,5.579,2.336,7.266c1.557,1.687,3.789,2.53,6.695,2.53
            	c2.906,0,5.138-0.843,6.695-2.53c1.557-1.687,2.335-4.1,2.335-7.24C128,31.802,127.228,29.389,125.684,27.71z M118.969,41.347
            	c-1.6,0-2.803-0.536-3.607-1.609c-0.804-1.072-1.207-2.668-1.207-4.788c0-2.119,0.406-3.717,1.22-4.794
            	c0.813-1.077,2.02-1.615,3.62-1.615c3.192,0,4.788,2.137,4.788,6.41C123.783,39.215,122.178,41.347,118.969,41.347z M34.25,30.214
            	c-0.801,1.068-1.203,2.656-1.206,4.762c0.003,2.106,0.405,3.694,1.206,4.762c0.804,1.073,2.007,1.609,3.607,1.609
            	c1.546,0,2.837-0.664,3.616-1.353l2.164,3.03c-1.475,1.13-3.401,1.696-5.78,1.696c-2.906,0-5.138-0.843-6.695-2.53
            	c-1.548-1.677-2.325-4.083-2.334-7.214c0.009-3.131,0.786-5.537,2.334-7.214c1.557-1.687,3.789-2.53,6.695-2.53
            	c2.379,0,4.305,0.566,5.78,1.696l-2.164,3.03c-0.778-0.689-2.069-1.353-3.616-1.353C36.257,28.605,35.055,29.142,34.25,30.214z
            	 M20.832,31.759c1.252,1.829,1.663,4.136,1.186,6.673c-0.912,4.862-5.324,8.739-10.262,9.02c-0.235,0.013-0.468,0.02-0.698,0.02
            	c-2.892,0-5.443-1.046-7.412-3.049c-1.854-1.885-3.099-4.554-3.505-7.515c-0.806-5.865,1.843-12.563,8.465-14.018
            	c2.86-0.628,5.829-0.442,8.588,0.536c0.513,0.182,0.781,0.745,0.599,1.257c-0.181,0.513-0.745,0.78-1.257,0.599
            	c-2.378-0.843-5.044-1.009-7.508-0.468c-5.456,1.198-7.619,6.856-6.936,11.826c0.637,4.638,3.832,9.171,9.553,8.846
            	c3.994-0.227,7.701-3.486,8.439-7.417c0.383-2.041,0.088-3.79-0.876-5.198c-1.085-1.584-2.961-2.664-5.425-3.124
            	c-2.348-0.438-4.787,0.693-5.926,2.751c-0.989,1.787-0.707,3.737,0.776,5.348c0.849,0.923,2.038,1.397,3.099,1.237
            	c1.061-0.16,1.974-1.066,2.035-2.019c0.029-0.456-0.186-0.964-0.562-1.325c-0.321-0.309-0.713-0.462-1.072-0.427
            	c-0.539,0.056-1.025-0.337-1.081-0.878c-0.056-0.541,0.337-1.025,0.878-1.081c0.938-0.098,1.9,0.255,2.64,0.966
            	c0.794,0.763,1.228,1.835,1.162,2.869c-0.12,1.889-1.713,3.541-3.706,3.842c-1.701,0.257-3.556-0.452-4.842-1.851
            	c-2.063-2.242-2.455-5.096-1.05-7.635c1.544-2.789,4.837-4.323,8.009-3.733C17.132,28.37,19.445,29.735,20.832,31.759z"/>
            </svg>
					</div>
				</div>
			</a>
		</div>
		<div class="col-3">
			<a href="facesmart.html">
				<div class="card case-study">
					<div class="padded">
						<img src="images/facesmart_cover.png" alt="Philips Male Grooming FaceSmart Experience">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <path class="svg-deep-violet" d="M43.42,23.736h-6.876v8.955h-7.158v-8.955h-6.876v22.528h6.876v-8.86h7.158v8.86h6.876V23.736
            	L43.42,23.736z M67.344,41.739V23.736h-6.876v22.528h12.433l1.036-4.525H67.344L67.344,41.739z M55.382,23.736h-6.875v22.528h6.875
            	V23.736L55.382,23.736z M83.261,23.736h-6.876v22.528h6.876V23.736L83.261,23.736z M117.169,29.486c0-1.225,1.224-1.791,3.202-1.791
            	c2.166,0,4.521,0.471,6.122,1.131l-0.565-4.902c-1.79-0.377-3.391-0.66-6.311-0.66c-5.557,0-9.324,2.191-9.324,6.786
            	c0,7.918,10.737,6.316,10.737,9.992c0,1.414-1.036,2.168-3.579,2.168c-2.261,0-5.746-0.754-7.818-1.791l0.754,5.184
            	c2.072,0.754,4.898,1.131,7.158,1.131c5.746,0,10.455-1.885,10.455-7.541C128,31.654,117.169,33.068,117.169,29.486L117.169,29.486z
            	 M97.766,40.891c6.405,0,10.455-3.299,10.455-9.049c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.382,0.471v22.528
            	h6.876v-5.373H97.766L97.766,40.891z M101.44,31.936c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023
            	C99.838,27.506,101.44,29.109,101.44,31.936L101.44,31.936z M9.325,40.891c6.405,0,10.455-3.299,10.455-9.049
            	c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.383,0.471v22.528h6.876v-5.373H9.325L9.325,40.891z M12.998,31.936
            	c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023C11.397,27.506,12.998,29.109,12.998,31.936
            	L12.998,31.936z"/>
					</div>
				</div>
			</a>
		</div>

		<div class="col-3 right-1">
			<a href="roader.html">
				<div class="card case-study">
					<div class="padded">
						<img src="images/roader_cover.png" alt="Roader Connected Camera UX">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <path class="svg-deep-violet" d="M38.321,35c0,10.565-8.595,19.16-19.16,19.16c-0.543,0-0.983-0.44-0.983-0.983
            	s0.44-0.983,0.983-0.983c9.481,0,17.195-7.714,17.195-17.195c0-9.481-7.714-17.195-17.195-17.195S1.965,25.519,1.965,35
            	c0,4.267,1.574,8.359,4.431,11.522c0.364,0.403,0.332,1.024-0.071,1.388c-0.403,0.364-1.024,0.332-1.388-0.07
            	C1.754,44.314,0,39.755,0,35c0-10.565,8.595-19.16,19.16-19.16S38.321,24.435,38.321,35z M25.265,41.1
            	c3.366-3.366,3.366-8.844,0-12.21c-1.515-1.515-3.526-2.409-5.664-2.518c-0.3-0.011-0.544,0.212-0.558,0.505
            	c-0.015,0.294,0.211,0.544,0.504,0.559c1.874,0.095,3.638,0.879,4.966,2.207c2.951,2.951,2.951,7.753,0,10.704
            	c-2.952,2.951-7.753,2.951-10.705,0c-2.043-2.044-2.747-5.128-1.792-7.858c0.097-0.278-0.049-0.581-0.327-0.678
            	c-0.277-0.097-0.581,0.049-0.678,0.327c-1.089,3.113-0.287,6.631,2.044,8.962c1.683,1.683,3.894,2.524,6.105,2.524
            	C21.371,43.624,23.582,42.783,25.265,41.1z M14.474,29.132c0.409,0,0.74-0.331,0.74-0.74c0-0.409-0.331-0.74-0.74-0.74
            	c-0.409,0-0.74,0.331-0.74,0.74C13.734,28.801,14.065,29.132,14.474,29.132z M57.747,29.707c-1.189,0-2.338,0.146-3.446,0.439
            	c-0.935,0.247-1.715,0.491-2.341,0.731c-0.203,0.078-0.333,0.276-0.333,0.494V42.4c0,0.529,0.429,0.958,0.958,0.958h0
            	c0.529,0,0.958-0.429,0.958-0.958V32.173c0.919-0.364,1.659-0.506,2.155-0.577c0.497-0.071,1.038-0.106,1.623-0.106
            	c0.118,0,0.237,0.002,0.355,0.006c0.504,0.018,0.922-0.384,0.922-0.889v-0.046C58.598,30.09,58.218,29.708,57.747,29.707z
            	 M71.478,31.556c1.011,1.233,1.517,2.923,1.517,5.069c0,2.2-0.532,3.916-1.597,5.149c-1.064,1.233-2.564,1.85-4.497,1.85
            	c-2.04,0-3.57-0.603-4.59-1.81c-1.02-1.206-1.53-2.936-1.53-5.189c0-2.289,0.519-4.014,1.557-5.176
            	c1.038-1.162,2.542-1.743,4.511-1.743C68.923,29.707,70.467,30.323,71.478,31.556z M71.079,36.626c0-1.667-0.328-2.945-0.985-3.832
            	c-0.656-0.887-1.73-1.331-3.22-1.331c-2.786,0-4.178,1.721-4.178,5.163c0,3.495,1.392,5.243,4.178,5.243
            	C69.677,41.868,71.079,40.121,71.079,36.626z M87.073,33.964v6.44c0,1.277-0.524,2.133-1.57,2.568
            	c-1.047,0.435-2.493,0.652-4.338,0.652c-1.402,0-2.604-0.311-3.606-0.931c-1.003-0.621-1.504-1.659-1.504-3.114
            	c0-1.579,0.435-2.728,1.304-3.446c0.869-0.718,2.067-1.078,3.593-1.078c1.72,0,3.113,0.311,4.178,0.931v-1.57
            	c0-1.987-1.162-2.981-3.486-2.981c-0.763,0-1.535,0.106-2.315,0.319c-0.336,0.091-0.648,0.203-0.938,0.334
            	c-0.484,0.219-1.031-0.114-1.031-0.644v-0.002c0-0.435,0.265-0.819,0.665-0.989c0.425-0.18,0.926-0.332,1.504-0.455
            	c0.913-0.195,1.823-0.293,2.728-0.293c1.49,0,2.665,0.364,3.526,1.091C86.642,31.525,87.073,32.581,87.073,33.964z M85.13,37.878
            	c0-0.211-0.121-0.409-0.317-0.489c-0.404-0.165-0.857-0.3-1.359-0.405c-0.639-0.133-1.304-0.2-1.996-0.2
            	c-1.118,0-1.978,0.213-2.581,0.639c-0.603,0.426-0.905,1.047-0.905,1.863c0,0.923,0.355,1.593,1.064,2.009
            	c0.709,0.417,1.57,0.625,2.581,0.625c1.241,0,2.138-0.093,2.688-0.279c0.55-0.186,0.825-0.563,0.825-1.131V37.878z M102.214,25.289
            	v15.648c0,0.905-0.572,1.579-1.716,2.022c-1.144,0.443-2.391,0.665-3.739,0.665c-1.633,0-3.052-0.528-4.258-1.583
            	c-1.207-1.055-1.819-2.931-1.836-5.628c0-2.093,0.51-3.73,1.53-4.91c1.02-1.18,2.532-1.77,4.537-1.77
            	c0.461,0,1.033,0.076,1.716,0.226c0.683,0.151,1.299,0.333,1.85,0.545v-5.216c0-0.529,0.429-0.958,0.958-0.958h0
            	C101.785,24.331,102.214,24.76,102.214,25.289z M100.298,32.421c-0.532-0.301-1.114-0.532-1.743-0.692
            	c-0.63-0.16-1.238-0.239-1.823-0.239c-1.384,0-2.404,0.439-3.06,1.317c-0.656,0.878-0.985,2.08-0.985,3.606
            	c0,1.668,0.301,2.994,0.905,3.978c0.603,0.985,1.694,1.477,3.273,1.477c0.94,0,1.747-0.107,2.422-0.319
            	c0.674-0.213,1.011-0.479,1.011-0.798V32.421z M116.078,31.676c0.862,1.203,1.314,2.772,1.356,4.705
            	c0.006,0.295-0.239,0.537-0.534,0.537h-9.151c0,1.597,0.373,2.821,1.118,3.672c0.745,0.852,1.81,1.278,3.193,1.278
            	c1.297,0,2.457-0.204,3.479-0.612c0.515-0.205,1.071,0.174,1.071,0.728c0,0.448-0.279,0.848-0.699,1.004
            	c-1.144,0.424-2.463,0.636-3.958,0.636c-1.934,0-3.442-0.599-4.524-1.796c-1.082-1.198-1.623-2.949-1.623-5.256
            	c0-2.253,0.51-3.961,1.53-5.123c1.02-1.162,2.452-1.743,4.298-1.743C113.657,29.707,115.138,30.363,116.078,31.676z M115.413,35.162
            	c-0.089-1.242-0.439-2.169-1.051-2.781c-0.612-0.612-1.522-0.918-2.728-0.918c-1.171,0-2.058,0.271-2.661,0.812
            	c-0.603,0.542-0.985,1.504-1.145,2.888H115.413z M127.148,29.707c-1.189,0-2.338,0.146-3.446,0.439
            	c-0.935,0.247-1.715,0.491-2.341,0.731c-0.203,0.078-0.333,0.276-0.333,0.494V42.4c0,0.529,0.429,0.958,0.958,0.958h0
            	c0.529,0,0.958-0.429,0.958-0.958V32.173c0.919-0.364,1.659-0.506,2.155-0.577c0.497-0.071,1.038-0.106,1.623-0.106
            	c0.118,0,0.237,0.002,0.355,0.006c0.504,0.018,0.922-0.384,0.922-0.889v-0.046C128,30.09,127.619,29.708,127.148,29.707z"/>
            </svg>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="flex container extra-bottom">
		<div class="col-9 right-3">
			<div class="padded">
				<h3 class="subtitle">A brief extended history:</h3>
			</div>
		</div>
		<div class="col-10 left-2">
			<div class="padded">
				<p class="statement">I’ve designed social experiences for <a href="https://www.microsoft.com/">Microsoft</a>, <a href="https://www.vodafone.com/">Vodafone</a>, and <a href="https://www.purina.com">Purina</a>, and worked with a great team at <a href="https://www.bigfishgames.com">Big Fish Games</a> to bring a casual MMO to life.</p>
				<p class="statement">I helped to create a wedding registry experience full of celebration for <a href="https://www.target.com">Target</a> and a home-buying experience with a story for <a href="https://www.weyerhaeuser.com">Weyerhaeuser</a>.</p>
				<p class="statement">Along with some of my favorite people, I designed apps that define larger ecosystems for <a href="https://www.samsung.com/">Samsung</a> and <a href="https://www.jio.com/">Reliance Jio</a>, and created personal and professional health solutions for <a href="https://www.philips.com/">Philips</a> and <a href="https://topic.nl/en/">Topic</a>.</p>
				<p class="statement">I’ve worked closely with startups like VanMoof, Roader, and Monolith to define and design the best solutions for their users.</p>
				<p class="statement">I’ve worked with <a href="https://corriospc.org">Corrio</a> to help keep inmates connected to their loved ones.</p>
				<p class="statement">Before IOT was a term, I worked with <a href="https://www.deltadore.co.uk">Delta Dore</a> to create a touch interface for the smart home. More recently, I worked with <a href="https://fresh-r.eu">Fresh-R</a> to visualize air quality in homes and offices.</p>
				<p class="statement">Beyond user experience, I’ve imagined possible futures with <a href="https://www.intel.com/content/www/us/en/homepage.html">Intel</a> and <a href="https://www.3dsystems.com/">3D Systems</a>.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-bottom">
		<div class="col-12">
			<div class="padded">
				<h3 class="subtitle">A handful of side projects from the past five years:</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/index_elephant.jpg" alt="Elephants are awesome">
			</div>
		</div>
		<div class="left-1 col-4">
			<div class="padded">
				<ul class="link-stack">
					<li>
						<a href="https://www.toicon.com/">to [icon]</a>
						<a class="arrow" href="https://www.toicon.com/">➔</a>
					</li>
					<li>
						<a href="https://theartificial.com/cocktails/">Friday Cocktails</a>
						<a class="arrow" href="https://theartificial.com/cocktails/">➔</a>
					</li>
					<li>
						<a href="https://theartificial.com/connecting-things/">Connecting Things</a>
						<a class="arrow" href="https://theartificial.com/connecting-things/">➔</a>
					</li>
					<li>
						<a href="http://www.futureofcake.com/">The Future of Cake</a>
						<a class="arrow" href="http://www.futureofcake.com/">➔</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</section>
