---
title: Our Work
noindex: true
---
<!-- page content -->
<section id="content">
	<div class="bleed aqua">
		<div class="flex container">
			<div class="col-12">
				<div class="padded section-title">
					<p class="label">What we make</p>
					<h1 class="title">A Selection of Projects</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- cards -->
		<div class="flex container card-stack padded-bottom">

			<%
	      work_folder = current_page.path
				work_folder = current_page.path.match(/([^\/]*)\/.*/)[1]
	      # get all HTML files at project root
	      work_resources = sitemap.resources.select{ |r| r.path[/#{work_folder}\/([^\/]*).html/] }
	      # but then remove anything without a date (like this index.html)
	      work_resources.delete_if{ |r| !r.data.date }
	      work_resources.sort_by!{ |r| r.data.order }
			%>
			<%
	      work_resources.each_with_index do |work, i|
        title = work.data.title
        snippet = work.data.snippet
				color = work.data.color
        thumbnail = "images/#{work.data.thumbnail}"
	    %>

			<div class="col-4">
	      <% link_to work do %>
					<div class="card case-study <%= color %>">
	          <div class="padded">
							<img src="<%= thumbnail %>">
							<h3 class="small-subtitle"><%= title %></h3>
							<p class="snippit"><%= snippet %></p>
	          </div>
	         </div>
	       <% end %>
	     </div>
	     <% end %>

		</div>
	</div>

</section>
