---
title: Roader App Design
date: 2018-03-07
snippet: "creating a joyful experience for a novel camera"
thumbnail: Roader_Cover.png
color: sea
order: 6
---
<section id="content">

	<div class="bleed sea top-tall">
		<div class="flex container page-intro">
			<div class="col-11 right-1">
				<div class="padded">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
					<path class="svg-deep-violet" d="M38.321,35c0,10.565-8.595,19.16-19.16,19.16c-0.543,0-0.983-0.44-0.983-0.983
						s0.44-0.983,0.983-0.983c9.481,0,17.195-7.714,17.195-17.195c0-9.481-7.714-17.195-17.195-17.195S1.965,25.519,1.965,35
						c0,4.267,1.574,8.359,4.431,11.522c0.364,0.403,0.332,1.024-0.071,1.388c-0.403,0.364-1.024,0.332-1.388-0.07
						C1.754,44.314,0,39.755,0,35c0-10.565,8.595-19.16,19.16-19.16S38.321,24.435,38.321,35z M25.265,41.1
						c3.366-3.366,3.366-8.844,0-12.21c-1.515-1.515-3.526-2.409-5.664-2.518c-0.3-0.011-0.544,0.212-0.558,0.505
						c-0.015,0.294,0.211,0.544,0.504,0.559c1.874,0.095,3.638,0.879,4.966,2.207c2.951,2.951,2.951,7.753,0,10.704
						c-2.952,2.951-7.753,2.951-10.705,0c-2.043-2.044-2.747-5.128-1.792-7.858c0.097-0.278-0.049-0.581-0.327-0.678
						c-0.277-0.097-0.581,0.049-0.678,0.327c-1.089,3.113-0.287,6.631,2.044,8.962c1.683,1.683,3.894,2.524,6.105,2.524
						C21.371,43.624,23.582,42.783,25.265,41.1z M14.474,29.132c0.409,0,0.74-0.331,0.74-0.74c0-0.409-0.331-0.74-0.74-0.74
						c-0.409,0-0.74,0.331-0.74,0.74C13.734,28.801,14.065,29.132,14.474,29.132z M57.747,29.707c-1.189,0-2.338,0.146-3.446,0.439
						c-0.935,0.247-1.715,0.491-2.341,0.731c-0.203,0.078-0.333,0.276-0.333,0.494V42.4c0,0.529,0.429,0.958,0.958,0.958h0
						c0.529,0,0.958-0.429,0.958-0.958V32.173c0.919-0.364,1.659-0.506,2.155-0.577c0.497-0.071,1.038-0.106,1.623-0.106
						c0.118,0,0.237,0.002,0.355,0.006c0.504,0.018,0.922-0.384,0.922-0.889v-0.046C58.598,30.09,58.218,29.708,57.747,29.707z
						 M71.478,31.556c1.011,1.233,1.517,2.923,1.517,5.069c0,2.2-0.532,3.916-1.597,5.149c-1.064,1.233-2.564,1.85-4.497,1.85
						c-2.04,0-3.57-0.603-4.59-1.81c-1.02-1.206-1.53-2.936-1.53-5.189c0-2.289,0.519-4.014,1.557-5.176
						c1.038-1.162,2.542-1.743,4.511-1.743C68.923,29.707,70.467,30.323,71.478,31.556z M71.079,36.626c0-1.667-0.328-2.945-0.985-3.832
						c-0.656-0.887-1.73-1.331-3.22-1.331c-2.786,0-4.178,1.721-4.178,5.163c0,3.495,1.392,5.243,4.178,5.243
						C69.677,41.868,71.079,40.121,71.079,36.626z M87.073,33.964v6.44c0,1.277-0.524,2.133-1.57,2.568
						c-1.047,0.435-2.493,0.652-4.338,0.652c-1.402,0-2.604-0.311-3.606-0.931c-1.003-0.621-1.504-1.659-1.504-3.114
						c0-1.579,0.435-2.728,1.304-3.446c0.869-0.718,2.067-1.078,3.593-1.078c1.72,0,3.113,0.311,4.178,0.931v-1.57
						c0-1.987-1.162-2.981-3.486-2.981c-0.763,0-1.535,0.106-2.315,0.319c-0.336,0.091-0.648,0.203-0.938,0.334
						c-0.484,0.219-1.031-0.114-1.031-0.644v-0.002c0-0.435,0.265-0.819,0.665-0.989c0.425-0.18,0.926-0.332,1.504-0.455
						c0.913-0.195,1.823-0.293,2.728-0.293c1.49,0,2.665,0.364,3.526,1.091C86.642,31.525,87.073,32.581,87.073,33.964z M85.13,37.878
						c0-0.211-0.121-0.409-0.317-0.489c-0.404-0.165-0.857-0.3-1.359-0.405c-0.639-0.133-1.304-0.2-1.996-0.2
						c-1.118,0-1.978,0.213-2.581,0.639c-0.603,0.426-0.905,1.047-0.905,1.863c0,0.923,0.355,1.593,1.064,2.009
						c0.709,0.417,1.57,0.625,2.581,0.625c1.241,0,2.138-0.093,2.688-0.279c0.55-0.186,0.825-0.563,0.825-1.131V37.878z M102.214,25.289
						v15.648c0,0.905-0.572,1.579-1.716,2.022c-1.144,0.443-2.391,0.665-3.739,0.665c-1.633,0-3.052-0.528-4.258-1.583
						c-1.207-1.055-1.819-2.931-1.836-5.628c0-2.093,0.51-3.73,1.53-4.91c1.02-1.18,2.532-1.77,4.537-1.77
						c0.461,0,1.033,0.076,1.716,0.226c0.683,0.151,1.299,0.333,1.85,0.545v-5.216c0-0.529,0.429-0.958,0.958-0.958h0
						C101.785,24.331,102.214,24.76,102.214,25.289z M100.298,32.421c-0.532-0.301-1.114-0.532-1.743-0.692
						c-0.63-0.16-1.238-0.239-1.823-0.239c-1.384,0-2.404,0.439-3.06,1.317c-0.656,0.878-0.985,2.08-0.985,3.606
						c0,1.668,0.301,2.994,0.905,3.978c0.603,0.985,1.694,1.477,3.273,1.477c0.94,0,1.747-0.107,2.422-0.319
						c0.674-0.213,1.011-0.479,1.011-0.798V32.421z M116.078,31.676c0.862,1.203,1.314,2.772,1.356,4.705
						c0.006,0.295-0.239,0.537-0.534,0.537h-9.151c0,1.597,0.373,2.821,1.118,3.672c0.745,0.852,1.81,1.278,3.193,1.278
						c1.297,0,2.457-0.204,3.479-0.612c0.515-0.205,1.071,0.174,1.071,0.728c0,0.448-0.279,0.848-0.699,1.004
						c-1.144,0.424-2.463,0.636-3.958,0.636c-1.934,0-3.442-0.599-4.524-1.796c-1.082-1.198-1.623-2.949-1.623-5.256
						c0-2.253,0.51-3.961,1.53-5.123c1.02-1.162,2.452-1.743,4.298-1.743C113.657,29.707,115.138,30.363,116.078,31.676z M115.413,35.162
						c-0.089-1.242-0.439-2.169-1.051-2.781c-0.612-0.612-1.522-0.918-2.728-0.918c-1.171,0-2.058,0.271-2.661,0.812
						c-0.603,0.542-0.985,1.504-1.145,2.888H115.413z M127.148,29.707c-1.189,0-2.338,0.146-3.446,0.439
						c-0.935,0.247-1.715,0.491-2.341,0.731c-0.203,0.078-0.333,0.276-0.333,0.494V42.4c0,0.529,0.429,0.958,0.958,0.958h0
						c0.529,0,0.958-0.429,0.958-0.958V32.173c0.919-0.364,1.659-0.506,2.155-0.577c0.497-0.071,1.038-0.106,1.623-0.106
						c0.118,0,0.237,0.002,0.355,0.006c0.504,0.018,0.922-0.384,0.922-0.889v-0.046C128,30.09,127.619,29.708,127.148,29.707z"/>
					</svg>
					<h1 class="small-title">Creating a digital experience for a camera that records forwards and backwards in time</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6">
			<div class="padded">
				<img class="offset-top" src="images/roader_cover.png" alt="Roader camera and app">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<p class="statement">Roader is a connected wearable camera that is always buffering but only records with the press of a button. When pressed, the device captures the past 10 seconds along with the future 10 seconds as a clip. We worked with Roader to create a delightful experience around the editing and sharing of these clips.</p>
			</div>
		</div>
		<div class="col-6 right-6">
			<div class="padded">
				<p class="label">Artificial Team</p>
				<ul class="team">
					<li>Shannon E. Thomas</li>
					<li>Hans Gerwitz</li>
					<li>Kamila Piątkowska</li>
					<li>Manjari Sahu</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">We created a design that puts users' content first.</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>As a newcomer to the market, Roader needed a recognizable visual identity. We explored various visual directions in type, form, and color, to establish a digital design language that made a statement while highlighting unique aspects of the product.</p>
			</div>
		</div>
	</div>

	<div class="bleed cool-grey-10">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<img src="images/Roader_GesturalDesign.png" alt="Gestural Design">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-6 right-6">
				<div class="padded">
					<p class="summary">We bought simplicity to life with animation.</p>
				</div>
			</div>
			<div class="left-2 col-10">
				<div class="padded">
					<p>We generated multiple directions and then narrowed down to a single interaction model and visual language where content was king. With an interface focused on simplicity, we sought to bring out joyful experiences for the user using playful transitions throughout the app.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="flex container extra-vertical">
		<div class="col-6">
			<div class="padded">
				<img src="images/Roader_LoadingHD.gif" alt="Loading Transition">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/Roader_GalleryToDetail.gif" alt="Gallery Transition">
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">We worked in sync with developers to ensure a great experience for users.</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>With the benefit of working side-by-side with our development team, we saved time by creating a component library that also worked as lightweight design guidelines. We designated colors, fonts, shapes, and buttons as well as method for clip visualization to keep the app consistent and beautiful.</p>
				<p ><a href="https://www.roader.com">Learn more about Roader.</a></p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-12">
			<div class="padded">
				<img src="images/Roader_ComponentLibrary.png" alt="Component Library and Guidelines">
			</div>
		</div>
	</div>

</section>
