---
title: Philips Avent uGrow
date: 2017-12-21
snippet: "designing a supporting experience for new moms (and mums)"
thumbnail: ugrow_cover.png
color: sea
order: 2
---
<section id="content">
	<div class="bleed sea top-tall">
		<div class="flex container page-intro">
			<div class="col-10 right-2">
				<div class="padded">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
						 <path class="svg-deep-violet" d="M43.42,23.736h-6.876v8.955h-7.158v-8.955h-6.876v22.528h6.876v-8.86h7.158v8.86h6.876V23.736
	 						L43.42,23.736z M67.344,41.739V23.736h-6.876v22.528h12.433l1.036-4.525H67.344L67.344,41.739z M55.382,23.736h-6.875v22.528h6.875
	 						V23.736L55.382,23.736z M83.261,23.736h-6.876v22.528h6.876V23.736L83.261,23.736z M117.169,29.486c0-1.225,1.224-1.791,3.202-1.791
	 						c2.166,0,4.521,0.471,6.122,1.131l-0.565-4.902c-1.79-0.377-3.391-0.66-6.311-0.66c-5.557,0-9.324,2.191-9.324,6.786
	 						c0,7.918,10.737,6.316,10.737,9.992c0,1.414-1.036,2.168-3.579,2.168c-2.261,0-5.746-0.754-7.818-1.791l0.754,5.184
	 						c2.072,0.754,4.898,1.131,7.158,1.131c5.746,0,10.455-1.885,10.455-7.541C128,31.654,117.169,33.068,117.169,29.486L117.169,29.486z
	 						 M97.766,40.891c6.405,0,10.455-3.299,10.455-9.049c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.382,0.471v22.528
	 						h6.876v-5.373H97.766L97.766,40.891z M101.44,31.936c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023
	 						C99.838,27.506,101.44,29.109,101.44,31.936L101.44,31.936z M9.325,40.891c6.405,0,10.455-3.299,10.455-9.049
	 						c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.383,0.471v22.528h6.876v-5.373H9.325L9.325,40.891z M12.998,31.936
	 						c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023C11.397,27.506,12.998,29.109,12.998,31.936
	 						L12.998,31.936z"/>
					</svg>
					<h1 class="small-title">Envisioning a platform for baby's most important moments</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6">
			<div class="padded">
				<img class="offset-top" src="images/ugrow_cover.png" alt="uGrow Smart Parenting Platform from Philips Avent">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<p class="statement">Philips AVENT was developing a connected parenting platform complete with products and service. We helped create the central experience of that platform.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">We worked across stakeholders to define a strategy.</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>Philips wanted to create a scientific yet emotional experience to guide parents through their babies' development. We started by working closely with the internal team to define their product, balancing the needs of business stakeholders with the desires of users, all within the constraints of a tight development schedule.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/ugrow_strategy.jpg" alt="using so many post-its">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/ugrow_screens.jpg" alt="overview of screen designs">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">We designed one interface to suit many desires.</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>Targeting mothers and fathers of different parenting styles rendered an often conflicted set of requirements. One of the most difficult challenges was designing a multi-faceted app that was easily navigable despite complex relationships between qualitative data, quantitative data, and advice content.</p>
			</div>
		</div>
	</div>

	<div class = "bleed cool-grey-10">
		<div class="flex container extra-vertical">
			<div class="col-6 right-6">
				<div class="padded">
					<p class="summary">We conveyed trust and precision through the UI.</p>
				</div>
			</div>
			<div class="left-2 col-10">
				<div class="padded">
					<p>We created a design language that would appropriately show the feeling of baby, while maintaining the professional look of Philips AVENT. The UI conveys trust and precision without being overly technical, and employs user uploaded content to add an emotional layer. Feeling that the UI still needed more delight, we created a handful of novel animations to bring more personality to the experience.</p>
				</div>
			</div>
		</div>


		<img src="images/ugrow_phone.jpg" alt="Philips AVENT uGrow">
	</div>
	<div class="flex container extra-vertical">
		<div class="col-6 right-6">
			<div class="padded">
				<p class="summary">We created documentation to bring consistency to a team in flux.</p>
			</div>
		</div>
		<div class="left-2 col-10">
			<div class="padded">
				<p>The project team doubled in size several times throughout the duration of the project, with many people coming and going (some because they were having babies of their own). To minimize the risk of losing the details, we adjusted our process to include lightweight yet comprehensive documentation of screens, flows, and animations. Ultimately, we handed everything over to the in-house team so that they could own the future of the uGrow app.</p>
			</div>
		</div>
	</div>


	<div class="flex container">
		<div class="col-6 left-3 right-3">
			<div class="padded">
				<img src="images/ugrow_animation.gif" alt="uGrow app overview">
			</div>
		</div>
	</div>


		<div class="bleed sea">
			<div class="flex container extra-padded">
				<div class="col-8 right-4">
					<div class="padded">
						<p class="label">Artificial Team</p>
						<p class="subheading">Shannon E. Thomas, Hans Gerwitz, Carol Liao</p>
					</div>
				</div>
			</div>
		</div>

</section>
