---
title: The Artificial
nofeed: true
---
<% content_for :json_ld do %>
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "The Artificial",
  "url": "https://theartificial.com/",
  "logo": "https://theartificial.com/images/img_default.png",
  "sameAs": [
    "https://twitter.com/VeryArtificial",
    "https://www.facebook.com/veryartificial/",
    "https://instagram.com/VeryArtificial/",
    "https://www.linkedin.com/company/the-artificial/"
  ]
}
<% end %>

<script>
  $( document ).ready(function() {
    scrollspy('.slide-panel', $(window).height()/2, tweenColor);
    tweenColor($('#strategy'),0);
    $('.slide-panel').css('background','none');
  });

  function tweenColor(currentElement, offset) {
    console.log('in tweenColor', currentElement);
    var bgColor = jQuery.Color(currentElement.data('background-color')),
        overlayColor = jQuery.Color(currentElement.data('overlay')),
        nextElement = currentElement.next('.slide-panel');
    if (nextElement.length > 0) {
      var nextBgColor = jQuery.Color(nextElement.data('background-color')),
          nextOverlayColor = jQuery.Color(nextElement.data('overlay'));
      bgColor = bgColor.transition(nextBgColor, offset);
      overlayColor = overlayColor.transition(nextOverlayColor, offset);
    }
    console.log(bgColor);
    $('#background').css('background-color', bgColor);
    // $('body').css('background-color',currentElement.data('glitch'));
    $('#header').css('background-color',overlayColor.alpha(1.0).toRgbaString());
    $('#nav-panels li svg *').css('fill',overlayColor.toHexString());

    // $('#logo').text(offset);
    // $('#logo').text(currentElement.attr('id') + ': ' + currentElement.data('gradient-top') + '-' + currentElement.data('gradient-bottom') + ': ' + $('#background').css('background-image'));
  }

</script>

<div id="background"> </div>

<div class="bleed slide-container">

  <div class="slide-panel bleed aqua" data-background-color="#B7E5DD" data-overlay="#B7E5DD" id="strategy">
    <div class="flex container">
      <div class="col-10 right-2">
        <div class="padded">
          <p class="label">Hello there</p>
          <h2 class="title">Creative Strategy & Design</h2>
        </div>
      </div>
      <div class="col-8 left-2 right-2">
        <div class="padded">
          <p>We support clients in crafting best-in-class experiences. We choreograph engagements across physical and digital product and service touchpoints, lead with the moments that have the greatest impact, and refine the details through execution.</p>
          <ul>
            <li><a href="">Designing a digital biking experience that doesn’t distract</a></li>
            <li><a href="">Choreographing a service for inmates and their loved ones</a></li>
            <li><a href="">Envisioning a platform for baby’s most important moments</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed sea" data-background-color="#A6CCD5" data-overlay="#A6CCD5" id="clients">
    <div class="flex container">
      <div class="col-10 right-2">
        <div class="padded">
          <p class="label">Clients</p>
          <h2 class="title">Startups & Corporates</h2>
        </div>
      </div>
      <div class="col-8 left-2 right-2">
        <div class="padded">
          <p>We’ve worked with companies across the globe to create experiences that matter. Whether you’re a large corporate or a nimble startup, we’ll find an approach that fits your need and your budget.</p>
        </div>
      </div>
      <div class="col-2 left-2">
        <div class="padded">
          <a href="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <style type="text/css">
            	.deep-violet{fill:#190033;}
            </style>
            <path class="deep-violet" d="M43.42,23.736h-6.876v8.955h-7.158v-8.955h-6.876v22.528h6.876v-8.86h7.158v8.86h6.876V23.736
            	L43.42,23.736z M67.344,41.739V23.736h-6.876v22.528h12.433l1.036-4.525H67.344L67.344,41.739z M55.382,23.736h-6.875v22.528h6.875
            	V23.736L55.382,23.736z M83.261,23.736h-6.876v22.528h6.876V23.736L83.261,23.736z M117.169,29.486c0-1.225,1.224-1.791,3.202-1.791
            	c2.166,0,4.521,0.471,6.122,1.131l-0.565-4.902c-1.79-0.377-3.391-0.66-6.311-0.66c-5.557,0-9.324,2.191-9.324,6.786
            	c0,7.918,10.737,6.316,10.737,9.992c0,1.414-1.036,2.168-3.579,2.168c-2.261,0-5.746-0.754-7.818-1.791l0.754,5.184
            	c2.072,0.754,4.898,1.131,7.158,1.131c5.746,0,10.455-1.885,10.455-7.541C128,31.654,117.169,33.068,117.169,29.486L117.169,29.486z
            	 M97.766,40.891c6.405,0,10.455-3.299,10.455-9.049c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.382,0.471v22.528
            	h6.876v-5.373H97.766L97.766,40.891z M101.44,31.936c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023
            	C99.838,27.506,101.44,29.109,101.44,31.936L101.44,31.936z M9.325,40.891c6.405,0,10.455-3.299,10.455-9.049
            	c0-6.315-4.333-8.577-11.397-8.577c-2.731,0-6.028,0.188-8.383,0.471v22.528h6.876v-5.373H9.325L9.325,40.891z M12.998,31.936
            	c0,2.922-1.413,4.902-4.992,4.902h-1.13V27.53c0.4-0.023,0.777-0.023,1.13-0.023C11.397,27.506,12.998,29.109,12.998,31.936
            	L12.998,31.936z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="padded">
          <a href="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <style type="text/css">
            	.deep-violet{fill:#190033;}
            </style>
            <path class="deep-violet" d="M39.885,32.498h8.644c0.065,2.275,0.845,3.9,1.43,4.81c0.585,0.91,1.365,1.17,2.73,1.17
            	c1.3,0,2.275-0.455,2.99-1.3c0.715-0.845,0.845-2.665,0.845-5.07c0-2.795-0.325-4.81-1.365-5.655
            	c-0.975-0.78-2.47-0.585-5.005-0.585c-0.65,0-1.235,0.065-1.69,0.065l0.13-7.864h0.455c2.86,0,4.745-0.39,5.655-1.235
            	c0.845-0.845,1.3-2.6,1.3-5.135c0-2.015-0.065-3.77-1.04-4.355c-1.17-0.715-3.77-0.91-4.94,0c-1.17,0.65-0.975,3.12-0.975,4.355
            	h-8.514c-0.715-2.795,0.65-7.734,2.86-9.554C45.344,0.52,48.464,0,52.624,0c4.29,0,7.539,0.845,9.424,2.73
            	c5.33,5.2,11.764,10.139,17.484,15.014l2.73,2.015l2.925,2.6l1.625,2.08l-0.39,0.325l-1.17-1.69l-2.08-2.08l-1.495-1.17l-1.95-1.365
            	l-1.3-0.26h-2.275L64.518,8.384c0.065,0.65,0.13,1.3,0.195,2.015l23.463,19.824v0.78L72.902,18.199h-2.86l-5.395-4.355
            	c0,0.585-0.065,1.235-0.13,1.755l23.658,20.019v0.845l-9.164-7.864v2.73l-8.124-6.889h3.25l-7.344-6.24h-2.925
            	c-0.195,0.52-0.39,0.91-0.715,1.3l25.023,21.318v0.845l-9.164-7.799v2.73l-10.334-8.709v-2.6l-5.98-5.265
            	c-0.91,0.91-2.21,1.365-3.64,1.69c2.275,0.65,4.03,1.365,5.005,2.925c0.26,0.455,0.52,0.975,0.715,1.56l23.203,19.889l-0.195,0.52
            	l-8.774-7.41v2.6l-10.334-8.384v-2.86l-3.575-3.12c0.26,1.365,0.39,2.925,0.39,4.81c0,0.065,0,0.065,0,0.13l21.318,17.874
            	l-0.455,0.455l-7.344-6.24v0.91l-0.585,1.3l-9.749-8.059v-2.795l-3.185-2.665c-0.065,1.495-0.26,2.795-0.52,4.03l19.174,16.249
            	l-0.39,0.52l-6.5-5.59l-1.82,0.91l-6.759-5.46v-2.535l-3.965-3.25c-0.39,1.105-0.845,2.08-1.495,2.925l17.874,15.144l-0.52,0.455
            	l-8.124-7.02h-3.77v-3.12l-5.85-4.94c-0.715,0.91-1.69,1.69-2.665,2.21l15.794,13.389l-0.65,0.26L59.708,44.262v2.73l-2.535-2.145
            	c-0.52,0.13-1.04,0.195-1.56,0.325l13.844,11.829l-0.65,0.195l-8.969-7.604v2.47l-8.059-6.695c-0.845,0-1.69,0-2.47-0.065
            	l14.104,11.959h-0.78l-2.795-2.34v2.47L42.81,43.092h0.065c-0.065,0-0.065-0.065-0.065-0.065
            	C40.535,40.947,39.56,35.552,39.885,32.498L39.885,32.498z M40.34,67.725C40.47,69.285,41.25,70,42.614,70
            	c0.78,0,1.365-0.195,1.69-0.585c0.39-0.39,0.585-0.845,0.585-1.43c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715
            	c-0.26-0.13-0.65-0.325-1.235-0.455c-0.52-0.195-0.91-0.325-1.04-0.455c-0.13-0.13-0.195-0.26-0.195-0.455
            	c0-0.195,0.065-0.325,0.26-0.455c0.13-0.13,0.39-0.195,0.65-0.195c0.325,0,0.585,0.065,0.715,0.26c0.195,0.13,0.26,0.39,0.325,0.715
            	l1.105-0.065c0-0.65-0.195-1.105-0.585-1.495c-0.325-0.325-0.845-0.52-1.495-0.52c-0.455,0-0.845,0.065-1.105,0.26
            	c-0.325,0.13-0.52,0.325-0.715,0.65c-0.13,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.325,0.52,0.52,0.65c0.26,0.195,0.585,0.325,1.105,0.52c0.52,0.13,0.845,0.26,0.975,0.325
            	c0.13,0.065,0.26,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39c0,0.26-0.065,0.455-0.26,0.65
            	c-0.195,0.13-0.455,0.26-0.78,0.26c-0.715,0-1.105-0.455-1.235-1.3L40.34,67.725L40.34,67.725z M49.114,69.87h1.105v-2.795
            	l2.08-3.835h-1.3l-1.3,2.6l-1.3-2.6h-1.3l2.015,3.835V69.87L49.114,69.87z M54.444,67.725c0.13,1.56,0.91,2.275,2.275,2.275
            	c0.78,0,1.3-0.195,1.69-0.585c0.325-0.39,0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715
            	c-0.26-0.13-0.65-0.325-1.235-0.455c-0.52-0.195-0.845-0.325-0.975-0.455c-0.195-0.13-0.26-0.26-0.26-0.455
            	c0-0.195,0.065-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195c0.26,0,0.52,0.065,0.715,0.26c0.13,0.13,0.26,0.39,0.26,0.715
            	l1.17-0.065c-0.065-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52c-0.455,0-0.78,0.065-1.105,0.26
            	c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.26,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52c0.52,0.13,0.845,0.26,1.04,0.325
            	c0.13,0.065,0.195,0.13,0.26,0.26c0.065,0.065,0.13,0.195,0.13,0.39c0,0.26-0.13,0.455-0.325,0.65c-0.195,0.13-0.455,0.26-0.78,0.26
            	c-0.65,0-1.105-0.455-1.235-1.3L54.444,67.725L54.444,67.725z M62.958,69.87h1.17v-5.525h1.625V63.24h-4.42v1.105h1.625V69.87
            	L62.958,69.87z M68.353,69.87h4.225v-1.105h-3.12v-1.82h2.795V65.84h-2.795v-1.495h2.99V63.24h-4.095V69.87L68.353,69.87z
            	 M75.372,69.87h1.04v-5.2l1.105,5.2h1.04l1.105-5.2v5.2h1.105v-6.63h-1.69l-1.04,4.55l-0.975-4.55h-1.69V69.87L75.372,69.87z
            	 M83.432,67.725c0.13,1.56,0.91,2.275,2.275,2.275c0.78,0,1.3-0.195,1.69-0.585s0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04
            	c-0.13-0.26-0.325-0.52-0.585-0.715c-0.195-0.13-0.65-0.325-1.17-0.455c-0.585-0.195-0.91-0.325-1.04-0.455
            	c-0.195-0.13-0.26-0.26-0.26-0.455c0-0.195,0.13-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195s0.52,0.065,0.715,0.26
            	c0.13,0.13,0.26,0.39,0.325,0.715l1.105-0.065c0-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52
            	c-0.39,0-0.78,0.065-1.105,0.26c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975
            	c0,0.325,0.065,0.585,0.195,0.845c0.13,0.26,0.325,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52
            	c0.52,0.13,0.91,0.26,1.04,0.325c0.13,0.065,0.195,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39
            	c0,0.26-0.065,0.455-0.26,0.65c-0.195,0.13-0.52,0.26-0.845,0.26c-0.65,0-1.105-0.455-1.17-1.3L83.432,67.725L83.432,67.725z
            	 M40.34,67.725C40.47,69.285,41.25,70,42.614,70c0.78,0,1.365-0.195,1.69-0.585c0.39-0.39,0.585-0.845,0.585-1.43
            	c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715c-0.26-0.13-0.65-0.325-1.235-0.455
            	c-0.52-0.195-0.91-0.325-1.04-0.455c-0.13-0.13-0.195-0.26-0.195-0.455c0-0.195,0.065-0.325,0.26-0.455
            	c0.13-0.13,0.39-0.195,0.65-0.195c0.325,0,0.585,0.065,0.715,0.26c0.195,0.13,0.26,0.39,0.325,0.715l1.105-0.065
            	c0-0.65-0.195-1.105-0.585-1.495c-0.325-0.325-0.845-0.52-1.495-0.52c-0.455,0-0.845,0.065-1.105,0.26
            	c-0.325,0.13-0.52,0.325-0.715,0.65c-0.13,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.325,0.52,0.52,0.65c0.26,0.195,0.585,0.325,1.105,0.52c0.52,0.13,0.845,0.26,0.975,0.325
            	c0.13,0.065,0.26,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39c0,0.26-0.065,0.455-0.26,0.65
            	c-0.195,0.13-0.455,0.26-0.78,0.26c-0.715,0-1.105-0.455-1.235-1.3L40.34,67.725L40.34,67.725z M49.114,69.87h1.105v-2.795
            	l2.08-3.835h-1.3l-1.3,2.6l-1.3-2.6h-1.3l2.015,3.835V69.87L49.114,69.87z M54.444,67.725c0.13,1.56,0.91,2.275,2.275,2.275
            	c0.78,0,1.3-0.195,1.69-0.585c0.325-0.39,0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04c-0.13-0.26-0.325-0.52-0.585-0.715
            	c-0.26-0.13-0.65-0.325-1.235-0.455c-0.52-0.195-0.845-0.325-0.975-0.455c-0.195-0.13-0.26-0.26-0.26-0.455
            	c0-0.195,0.065-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195c0.26,0,0.52,0.065,0.715,0.26c0.13,0.13,0.26,0.39,0.26,0.715
            	l1.17-0.065c-0.065-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52c-0.455,0-0.78,0.065-1.105,0.26
            	c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975c0,0.325,0.065,0.585,0.195,0.845
            	c0.13,0.26,0.26,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52c0.52,0.13,0.845,0.26,1.04,0.325
            	c0.13,0.065,0.195,0.13,0.26,0.26c0.065,0.065,0.13,0.195,0.13,0.39c0,0.26-0.13,0.455-0.325,0.65c-0.195,0.13-0.455,0.26-0.78,0.26
            	c-0.65,0-1.105-0.455-1.235-1.3L54.444,67.725L54.444,67.725z M62.958,69.87h1.17v-5.525h1.625V63.24h-4.42v1.105h1.625V69.87
            	L62.958,69.87z M68.353,69.87h4.225v-1.105h-3.12v-1.82h2.795V65.84h-2.795v-1.495h2.99V63.24h-4.095V69.87L68.353,69.87z
            	 M75.372,69.87h1.04v-5.2l1.105,5.2h1.04l1.105-5.2v5.2h1.105v-6.63h-1.69l-1.04,4.55l-0.975-4.55h-1.69V69.87L75.372,69.87z
            	 M83.432,67.725c0.13,1.56,0.91,2.275,2.275,2.275c0.78,0,1.3-0.195,1.69-0.585s0.52-0.845,0.52-1.43c0-0.39-0.065-0.78-0.195-1.04
            	c-0.13-0.26-0.325-0.52-0.585-0.715c-0.195-0.13-0.65-0.325-1.17-0.455c-0.585-0.195-0.91-0.325-1.04-0.455
            	c-0.195-0.13-0.26-0.26-0.26-0.455c0-0.195,0.13-0.325,0.26-0.455c0.195-0.13,0.39-0.195,0.715-0.195s0.52,0.065,0.715,0.26
            	c0.13,0.13,0.26,0.39,0.325,0.715l1.105-0.065c0-0.65-0.195-1.105-0.585-1.495c-0.39-0.325-0.91-0.52-1.56-0.52
            	c-0.39,0-0.78,0.065-1.105,0.26c-0.26,0.13-0.52,0.325-0.65,0.65c-0.195,0.26-0.26,0.585-0.26,0.975
            	c0,0.325,0.065,0.585,0.195,0.845c0.13,0.26,0.325,0.52,0.52,0.65c0.195,0.195,0.585,0.325,1.04,0.52
            	c0.52,0.13,0.91,0.26,1.04,0.325c0.13,0.065,0.195,0.13,0.325,0.26c0.065,0.065,0.065,0.195,0.065,0.39
            	c0,0.26-0.065,0.455-0.26,0.65c-0.195,0.13-0.52,0.26-0.845,0.26c-0.65,0-1.105-0.455-1.17-1.3L83.432,67.725L83.432,67.725z
            	 M42.875,48.747c-0.39,0-0.78,0.13-1.105,0.325c-0.325,0.195-0.65,0.455-0.845,0.78c-0.195,0.39-0.325,0.78-0.325,1.235
            	c0,0.585,0.195,1.105,0.65,1.625c0.455,0.455,0.975,0.65,1.625,0.65c0.39,0,0.715-0.065,1.04-0.26c0.39-0.195,0.65-0.52,0.845-0.845
            	c0.26-0.39,0.325-0.78,0.325-1.17c0-0.65-0.195-1.17-0.65-1.625C44.044,49.006,43.459,48.747,42.875,48.747L42.875,48.747z
            	 M42.875,49.137c0.455,0,0.91,0.195,1.235,0.52c0.39,0.39,0.585,0.845,0.585,1.43c0,0.52-0.13,0.91-0.455,1.3
            	c-0.39,0.39-0.845,0.585-1.365,0.585c-0.52,0-0.975-0.13-1.3-0.52c-0.39-0.39-0.585-0.845-0.585-1.365c0-0.52,0.13-0.975,0.52-1.365
            	C41.835,49.331,42.289,49.137,42.875,49.137L42.875,49.137z M41.835,52.321h0.39v-1.04h0.26c0.13,0,0.26,0.065,0.325,0.065
            	c0.065,0.13,0.26,0.325,0.39,0.585l0.195,0.39h0.52l-0.325-0.455c-0.13-0.26-0.26-0.39-0.325-0.52c-0.065,0-0.13-0.065-0.195-0.13
            	c0.195,0,0.325-0.065,0.455-0.195c0.13-0.13,0.195-0.325,0.195-0.52c0-0.13,0-0.26-0.13-0.325c-0.065-0.13-0.13-0.195-0.26-0.26
            	c-0.13-0.065-0.325-0.065-0.65-0.065h-0.845V52.321L41.835,52.321z M42.225,50.956v-0.78h0.455c0.195,0,0.325,0,0.39,0.065
            	c0.065,0,0.13,0.065,0.195,0.13c0,0.065,0.065,0.13,0.065,0.195c0,0.13-0.065,0.195-0.13,0.26c-0.13,0.065-0.26,0.13-0.455,0.13
            	H42.225L42.225,50.956z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="padded">
          <a href="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <style type="text/css">
            	.deep-violet{fill:#190033;}
            </style>
            <path class="deep-violet" d="M127.914,23.403c-1.863-10.536-33.795-12.233-66.75-6.382
            	c-15.081,2.678-29.505,6.698-39.27,10.684c0.519-0.033,0.881-0.009,0.881-0.009c4.221,0.116,3.963,2.741,3.963,2.741l0.007,1.603
            	H23.38v-1.088c0-0.771-0.94-0.824-0.94-0.824c-0.72,0-0.888,0.489-0.888,0.489c-0.399,0.746,0.284,1.39,0.284,1.39
            	c0.347,0.386,2.097,1.197,2.097,1.197c0.566,0.219,1.48,0.785,1.48,0.785c1.711,1.029,1.556,2.985,1.556,2.985v1.287
            	c-0.206,3.191-4.606,3.101-4.606,3.101c-4.607,0-4.506-3.023-4.506-3.023v-1.58h3.585v1.089c0,0.927,0.895,0.967,0.895,0.967
            	c0.979,0.038,1.061-0.908,1.061-0.908c0.133-0.92-0.88-1.499-0.88-1.499c-1.004-0.514-2.676-1.415-2.676-1.415
            	c-0.824-0.54-1.158-1.029-1.158-1.029c-0.592-0.746-0.553-1.904-0.553-1.904v-1.004c0-1.389,0.373-1.788,0.373-1.788
            	c0.016-0.031,0.031-0.059,0.049-0.089C6.515,34.74-0.854,41.188,0.079,46.489c1.894,10.754,32.009,12.164,67.429,6.709
            	c16.309-2.511,30.503-7.134,41.245-11.922c-0.077,0.004-0.158,0.004-0.237,0.004c0,0-4.341,0.351-4.444-3.149v-6.769
            	c0,0-0.54-3.731,4.324-3.731c0,0,3.165-0.103,4.002,1.776c0,0,0.414,0.503,0.303,2.58h-3.372v-1.064c0,0-0.007-0.859-0.882-0.859
            	c0,0-0.914,0.039-0.914,0.759v7c0,0-0.039,0.94,0.991,0.94c0,0,0.845-0.019,0.845-1.007v-2.024h-0.92v-1.885h4.333v3.976
            	c0,0-0.011,0.836-0.359,1.325c0,0-0.351,0.537-0.484,0.639C122.806,34.469,128.8,28.416,127.914,23.403z M36.756,40.905l-1.311-9.91
            	h-0.294l-1.312,9.91h-3.581l2.213-12.781h5.653l2.214,12.781H36.756z M54.858,40.919l-0.08-9.629h-0.231l-1.743,9.627h-3.5
            	l-1.765-9.63h-0.262l-0.04,9.633h-3.327l0.281-12.785h5.62l1.077,6.996h0.263l1.127-6.996h5.564l0.36,12.783H54.858z M71.057,36.973
            	v1.287c-0.205,3.191-4.606,3.101-4.606,3.101c-4.607,0-4.507-3.024-4.507-3.024v-1.58h3.586v1.089c0,0.927,0.895,0.967,0.895,0.967
            	c0.978,0.038,1.06-0.908,1.06-0.908c0.134-0.92-0.879-1.499-0.879-1.499c-1.004-0.515-2.676-1.415-2.676-1.415
            	c-0.825-0.54-1.158-1.029-1.158-1.029c-0.592-0.747-0.554-1.905-0.554-1.905v-1.004c0-1.389,0.374-1.788,0.374-1.788
            	c0.952-1.789,4.272-1.57,4.272-1.57c4.221,0.116,3.963,2.741,3.963,2.741l0.007,1.603h-3.366v-1.088
            	c0-0.772-0.939-0.824-0.939-0.824c-0.721,0-0.888,0.489-0.888,0.489c-0.399,0.746,0.283,1.39,0.283,1.39
            	c0.347,0.385,2.097,1.197,2.097,1.197c0.566,0.218,1.48,0.785,1.48,0.785C71.212,35.017,71.057,36.973,71.057,36.973z
            	 M84.228,37.836c0,3.514-4.45,3.461-4.45,3.461c-5.121,0-4.746-3.629-4.746-3.629v-9.586h3.655l0.011,9.664
            	c0,1.083,1.029,1.029,1.029,1.029c0.978,0,0.929-1.055,0.929-1.055v-9.636h3.573V37.836z M99.589,40.921h-3.973l-3.544-7.817h-0.149
            	l0.2,7.816H88.79V28.138h4.094l3.423,7.754h0.147l-0.241-7.755h3.376V40.921z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="padded">
          <a href="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <style type="text/css">
            	.deep-violet{fill:#190033;}
            </style>
            <path class="deep-violet" d="M63.248,9.161c-10.142,0-18.364,8.223-18.364,18.362c0,10.142,8.222,18.362,18.364,18.362
            	c10.142,0,18.362-8.22,18.362-18.362C81.61,17.384,73.39,9.161,63.248,9.161 M90.771,27.523c0,15.202-12.32,27.523-27.523,27.523
            	c-15.2,0-27.523-12.322-27.523-27.523C35.725,12.324,48.047,0,63.248,0C78.451,0,90.771,12.324,90.771,27.523 M63.248,18.089
            	c5.211,0,9.435,4.225,9.435,9.434c0,5.213-4.224,9.436-9.435,9.436c-5.21,0-9.434-4.224-9.434-9.436
            	C53.814,22.314,58.038,18.089,63.248,18.089 M38.452,61.532h-3.027v-1.869h8.271v1.869h-3.024v8.229h-2.22V61.532z M42.735,69.76
            	h2.247l0.794-2.25h3.775l0.761,2.25h2.307l-3.775-10.096h-2.277L42.735,69.76z M47.669,62.154h0.028l1.272,3.702h-2.613
            	L47.669,62.154z M53.494,69.76h2.22v-3.947h2.219c1.118,0,1.529,0.465,1.684,1.525c0.111,0.807,0.083,1.788,0.351,2.422h2.22
            	c-0.393-0.571-0.379-1.76-0.422-2.395c-0.071-1.016-0.383-2.073-1.472-2.359V64.98c1.118-0.454,1.597-1.346,1.597-2.532
            	c0-1.525-1.145-2.784-2.952-2.784h-5.445V69.76 M55.714,61.388h2.431c0.989,0,1.526,0.422,1.526,1.401
            	c0,1.016-0.537,1.439-1.526,1.439h-2.431V61.388z M70.715,68.609C69.941,69.618,68.919,70,67.938,70
            	c-3.119,0-4.956-2.333-4.956-5.252c0-2.996,1.837-5.328,4.956-5.328c2.071,0,4.018,1.274,4.261,3.563h-2.121
            	c-0.253-1.115-1.087-1.694-2.139-1.694c-1.987,0-2.738,1.694-2.738,3.459c0,1.687,0.751,3.381,2.738,3.381
            	c1.444,0,2.281-0.779,2.407-2.172H68.11v-1.659h4.245v5.462h-1.413L70.715,68.609 M73.873,59.663h7.548v1.869h-5.33v2.159h4.89
            	v1.722h-4.89v2.474h5.436v1.872h-7.654V59.663z M85.542,61.532h-3.019v-1.869h8.266v1.869h-3.024v8.229h-2.223V61.532z
            	 M90.838,67.928c0.254,0,0.48-0.018,0.48-0.322c0-0.244-0.221-0.29-0.43-0.29H90.48v0.612H90.838 M90.48,69.038h-0.298v-1.976h0.752
            	c0.467,0,0.698,0.172,0.698,0.561c0,0.354-0.223,0.508-0.511,0.545l0.56,0.87h-0.335l-0.521-0.857H90.48V69.038z M90.843,69.478
            	c0.775,0,1.387-0.608,1.387-1.432c0-0.812-0.612-1.424-1.387-1.424c-0.784,0-1.394,0.612-1.394,1.424
            	C89.448,68.87,90.059,69.478,90.843,69.478 M89.103,68.045c0-0.984,0.798-1.708,1.74-1.708c0.933,0,1.732,0.724,1.732,1.708
            	c0,0.992-0.799,1.717-1.732,1.717C89.901,69.762,89.103,69.038,89.103,68.045"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="padded">
          <a href="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <style type="text/css">
            	.deep-violet{fill:#190033;}
            </style>
            <path class="deep-violet" d="M42.92,30.679c-2.128-4.809-2.082-10.889,0.439-15.767c1.988-3.769,5.503-7.26,9.849-8.74
            	C57.763,4.3,63.89,4.693,68.329,7.19c5.386,2.682,9.456,9.364,9.479,15.329c0.185,6.172-2.544,11.768-7.283,15.351
            	c-1.249,0.925-2.89,1.064-4.162,0.463c0,0-0.346-0.139-0.671-0.508c-0.278-0.347-7.306-8.278-7.306-8.278l-0.023-0.023
            	c2.174,0.393,4.555-0.647,5.78-2.543c1.225-1.804,1.179-4.37,0.024-6.173c-1.388-1.965-4.092-2.613-6.359-2.312
            	c-3.931,0.555-6.751,4.046-7.629,7.699c-0.902,4.162-0.255,8.092,1.157,11.791c0.323,0.786,0.763,1.596,1.294,2.288
            	C48.492,38.471,44.838,35.142,42.92,30.679z M58.133,32.853c-0.786-2.59-2.428-4.994-2.613-7.7c-0.462,2.589-1.433,4.879-2.52,7.122
            	c-1.226,2.936,0.393,5.756,2.404,7.929l0.162,0.184c1.017-1.086,1.873-2.289,2.405-3.699C58.457,35.396,58.433,34.102,58.133,32.853
            	z M41.741,60.78l0.98,0.603c-0.579,1.106-1.354,1.981-2.324,2.637c-0.972,0.655-2.091,0.98-3.35,0.98
            	c-1.115,0-2.086-0.196-2.923-0.589c-0.838-0.391-1.527-0.924-2.068-1.598c-0.54-0.671-0.947-1.459-1.215-2.354
            	c-0.263-0.9-0.396-1.847-0.396-2.847c0-0.895,0.143-1.775,0.425-2.641c0.287-0.866,0.704-1.641,1.259-2.335
            	c0.531-0.66,1.191-1.196,1.981-1.603c0.789-0.407,1.675-0.612,2.655-0.612c1.01,0,1.875,0.158,2.594,0.478
            	c0.723,0.315,1.306,0.751,1.751,1.301c0.43,0.527,0.75,1.144,0.961,1.852c0.21,0.713,0.316,1.483,0.316,2.311v0.928h-9.153
            	c0,0.905,0.086,1.728,0.258,2.464c0.172,0.742,0.446,1.388,0.823,1.953c0.364,0.54,0.838,0.966,1.426,1.282
            	c0.589,0.31,1.292,0.469,2.106,0.469c0.832,0,1.55-0.196,2.153-0.584C40.598,62.489,41.181,61.789,41.741,60.78z M33.234,56.115
            	h6.393c0-0.526-0.043-1.086-0.134-1.684c-0.091-0.598-0.23-1.096-0.426-1.498c-0.217-0.431-0.512-0.78-0.886-1.054
            	c-0.373-0.272-0.856-0.406-1.444-0.406c-0.981,0-1.795,0.406-2.446,1.225C33.639,53.517,33.291,54.655,33.234,56.115z
            	 M29.127,63.531c0.364,0.062,0.666,0.101,0.91,0.11v0.995h-5.355c-1.187-1.861-2.258-3.469-3.22-4.823
            	c-0.956-1.354-1.995-2.751-3.114-4.191h-2.034v6.311c0,0.325,0.052,0.612,0.153,0.861c0.101,0.243,0.321,0.436,0.66,0.564
            	c0.168,0.068,0.459,0.129,0.88,0.183c0.422,0.057,0.776,0.091,1.068,0.1v0.995h-8.412v-0.995c0.224-0.02,0.551-0.052,0.976-0.1
            	c0.425-0.043,0.723-0.106,0.89-0.183c0.278-0.12,0.483-0.296,0.608-0.53c0.128-0.236,0.191-0.532,0.191-0.895V47.55
            	c0-0.33-0.048-0.617-0.144-0.871c-0.091-0.254-0.31-0.445-0.656-0.575c-0.234-0.085-0.54-0.161-0.914-0.229
            	c-0.373-0.071-0.689-0.114-0.952-0.134v-0.995h9.182c0.842,0,1.631,0.087,2.369,0.259c0.736,0.172,1.406,0.449,2.004,0.831
            	c0.579,0.374,1.044,0.862,1.388,1.465c0.344,0.603,0.521,1.331,0.521,2.182c0,0.765-0.119,1.445-0.354,2.033
            	c-0.235,0.588-0.579,1.096-1.034,1.526c-0.421,0.402-0.928,0.751-1.517,1.043c-0.589,0.297-1.239,0.546-1.947,0.751
            	c0.98,1.301,1.794,2.393,2.445,3.283c0.651,0.885,1.444,1.967,2.392,3.234c0.411,0.565,0.78,0.976,1.116,1.244
            	c0.329,0.262,0.659,0.483,0.985,0.651C28.458,63.369,28.759,63.464,29.127,63.531z M21.371,53.177
            	c0.862-0.827,1.292-1.952,1.292-3.373c0-1.205-0.345-2.158-1.038-2.866c-0.69-0.703-1.671-1.057-2.929-1.057h-2.383v8.536h1.837
            	C19.438,54.416,20.515,54.005,21.371,53.177z M101.38,62.8c-0.614,0.44-1.374,0.66-2.282,0.66c-1.249,0-2.264-0.55-3.034-1.647
            	c-0.772-1.1-1.159-2.517-1.159-4.258c0-1.101,0.111-2.048,0.326-2.842c0.216-0.794,0.493-1.426,0.842-1.895
            	c0.383-0.511,0.776-0.866,1.183-1.057c0.407-0.191,0.838-0.287,1.282-0.287c0.383,0,0.743,0.047,1.073,0.148
            	c0.334,0.096,0.583,0.291,0.75,0.578c-0.019,0.206-0.081,0.532-0.195,0.976c-0.11,0.445-0.168,0.876-0.168,1.297
            	c0,0.345,0.153,0.66,0.454,0.937c0.307,0.282,0.732,0.423,1.282,0.423c0.517,0,0.886-0.178,1.11-0.542
            	c0.225-0.359,0.336-0.77,0.336-1.239c0-1.119-0.425-2.005-1.278-2.655c-0.846-0.651-1.952-0.976-3.307-0.976
            	c-0.98,0-1.89,0.205-2.718,0.612c-0.833,0.407-1.526,0.942-2.076,1.603c-0.579,0.694-1.019,1.46-1.325,2.307
            	c-0.301,0.847-0.454,1.756-0.454,2.727c0,2.235,0.564,4.015,1.694,5.34c1.134,1.325,2.699,1.99,4.699,1.99
            	c1.073,0,2.115-0.32,3.125-0.966c1.009-0.646,1.823-1.516,2.44-2.623l-0.899-0.588C102.557,61.703,101.987,62.359,101.38,62.8z
            	 M89.064,63.431c-0.273-0.11-0.464-0.268-0.574-0.469c-0.115-0.201-0.173-0.465-0.173-0.794v-7.192c0-1.373-0.315-2.474-0.957-3.301
            	c-0.641-0.823-1.626-1.239-2.952-1.239c-0.598,0-1.134,0.076-1.612,0.224c-0.473,0.148-0.886,0.336-1.235,0.56
            	c-0.297,0.196-0.617,0.455-0.953,0.766c-0.334,0.31-0.616,0.584-0.842,0.803H79.7v-1.947l-0.197-0.196l-4.598,0.311v0.909
            	c0.278,0.019,0.541,0.052,0.785,0.105c0.244,0.053,0.455,0.134,0.632,0.244c0.239,0.168,0.431,0.388,0.565,0.656
            	c0.138,0.263,0.206,0.555,0.206,0.875v8.536c0,0.336-0.062,0.607-0.191,0.818c-0.125,0.21-0.321,0.358-0.579,0.441
            	c-0.172,0.057-0.369,0.095-0.598,0.114c-0.23,0.019-0.451,0.039-0.665,0.058v0.923h6.771v-0.923
            	c-0.243-0.019-0.478-0.053-0.709-0.101c-0.23-0.047-0.44-0.114-0.636-0.21c-0.263-0.109-0.458-0.269-0.588-0.473
            	c-0.135-0.206-0.196-0.469-0.196-0.786v-7.951c0.081-0.148,0.215-0.345,0.396-0.593c0.182-0.25,0.431-0.479,0.737-0.695
            	c0.316-0.225,0.685-0.416,1.091-0.569c0.412-0.154,0.867-0.23,1.364-0.23c0.66,0,1.224,0.268,1.689,0.799
            	c0.46,0.532,0.694,1.288,0.694,2.269v7.11c0,0.336-0.062,0.607-0.192,0.818c-0.125,0.21-0.321,0.358-0.579,0.441
            	c-0.172,0.057-0.382,0.095-0.64,0.114c-0.254,0.019-0.493,0.039-0.708,0.058v0.923h6.771v-0.923
            	c-0.287-0.019-0.516-0.049-0.679-0.087C89.479,63.59,89.288,63.527,89.064,63.431z M54.113,44.149
            	c-0.347,0.38-0.523,0.821-0.523,1.333c0,0.479,0.176,0.911,0.523,1.286c0.347,0.375,0.759,0.565,1.229,0.565
            	c0.512,0,0.939-0.2,1.286-0.593c0.35-0.394,0.522-0.854,0.522-1.381c0-0.475-0.171-0.888-0.508-1.247
            	c-0.336-0.357-0.768-0.532-1.299-0.532C54.872,43.581,54.459,43.769,54.113,44.149z M72.751,63.474
            	c0.307,0.01,0.618,0.014,0.933,0.014v0.895c-0.44,0.158-0.823,0.287-1.153,0.387c-0.336,0.095-0.708,0.148-1.129,0.148
            	c-0.733,0-1.311-0.173-1.747-0.512c-0.436-0.344-0.713-0.841-0.833-1.492h-0.086c-0.607,0.67-1.259,1.186-1.957,1.541
            	c-0.694,0.353-1.532,0.531-2.512,0.531c-1.038,0-1.89-0.317-2.56-0.953c-0.67-0.636-1.005-1.468-1.005-2.492
            	c0-0.536,0.077-1.009,0.225-1.431c0.153-0.421,0.373-0.799,0.674-1.139c0.234-0.277,0.541-0.526,0.923-0.747
            	c0.383-0.22,0.746-0.397,1.081-0.526c0.422-0.158,1.273-0.454,2.556-0.885c1.287-0.431,2.153-0.766,2.602-1.01v-1.387
            	c0-0.119-0.024-0.354-0.077-0.698c-0.052-0.345-0.162-0.675-0.329-0.981c-0.187-0.349-0.451-0.651-0.795-0.904
            	c-0.339-0.258-0.822-0.387-1.449-0.387c-0.43,0-0.828,0.071-1.196,0.22c-0.369,0.143-0.631,0.296-0.779,0.455
            	c0,0.187,0.043,0.458,0.134,0.827c0.091,0.363,0.134,0.699,0.134,1.009c0,0.325-0.149,0.622-0.44,0.895
            	c-0.297,0.272-0.703,0.407-1.23,0.407c-0.464,0-0.809-0.167-1.028-0.497c-0.22-0.33-0.33-0.704-0.33-1.115
            	c0-0.431,0.153-0.842,0.455-1.235c0.307-0.391,0.698-0.742,1.186-1.047c0.421-0.264,0.927-0.483,1.526-0.67
            	c0.598-0.182,1.182-0.273,1.751-0.273c0.785,0,1.469,0.057,2.058,0.162c0.582,0.106,1.109,0.34,1.587,0.694
            	c0.478,0.344,0.838,0.813,1.087,1.407c0.248,0.594,0.373,1.359,0.373,2.292c0,1.339-0.015,2.522-0.044,3.555
            	c-0.028,1.034-0.042,2.163-0.042,3.388c0,0.363,0.061,0.65,0.192,0.866c0.124,0.215,0.32,0.397,0.578,0.55
            	C72.23,63.417,72.451,63.464,72.751,63.474z M68.795,56.981c-0.794,0.234-1.493,0.464-2.092,0.689
            	c-0.598,0.226-1.152,0.502-1.665,0.842c-0.469,0.316-0.837,0.695-1.11,1.129c-0.268,0.43-0.406,0.947-0.406,1.545
            	c0,0.775,0.206,1.35,0.612,1.713c0.407,0.364,0.924,0.546,1.545,0.546c0.666,0,1.25-0.163,1.756-0.483
            	c0.504-0.321,0.929-0.704,1.273-1.144L68.795,56.981z M117.337,61.383c-0.579,1.106-1.354,1.981-2.325,2.637
            	c-0.972,0.655-2.091,0.98-3.35,0.98c-1.115,0-2.086-0.196-2.924-0.589c-0.837-0.391-1.527-0.924-2.068-1.598
            	c-0.54-0.671-0.946-1.459-1.215-2.354c-0.263-0.9-0.397-1.847-0.397-2.847c0-0.895,0.143-1.775,0.426-2.641
            	c0.287-0.866,0.704-1.641,1.258-2.335c0.531-0.66,1.191-1.196,1.981-1.603c0.789-0.407,1.675-0.612,2.655-0.612
            	c1.01,0,1.875,0.158,2.593,0.478c0.723,0.315,1.307,0.751,1.752,1.301c0.431,0.527,0.752,1.144,0.962,1.852
            	c0.21,0.713,0.316,1.483,0.316,2.311v0.928h-9.154c0,0.905,0.087,1.728,0.259,2.464c0.172,0.742,0.446,1.388,0.824,1.953
            	c0.363,0.54,0.837,0.966,1.425,1.282c0.589,0.31,1.292,0.469,2.106,0.469c0.833,0,1.55-0.196,2.153-0.584
            	c0.598-0.387,1.182-1.087,1.742-2.096L117.337,61.383z M107.848,56.115h6.393c0-0.526-0.044-1.086-0.134-1.684
            	c-0.091-0.598-0.23-1.096-0.425-1.498c-0.216-0.431-0.512-0.78-0.885-1.054c-0.374-0.272-0.856-0.406-1.446-0.406
            	c-0.981,0-1.794,0.406-2.445,1.225C108.255,53.517,107.906,54.655,107.848,56.115z M57.653,63.413
            	c-0.271-0.101-0.47-0.262-0.594-0.47c-0.123-0.214-0.184-0.484-0.184-0.806V50.959l-0.195-0.195l-4.839,0.309v0.902
            	c0.28,0.019,0.583,0.066,0.916,0.147c0.336,0.076,0.588,0.171,0.763,0.285c0.243,0.165,0.432,0.369,0.565,0.616
            	c0.133,0.247,0.205,0.518,0.205,0.817v8.464c0,0.332-0.068,0.603-0.191,0.812c-0.123,0.209-0.317,0.355-0.579,0.436
            	c-0.165,0.057-0.36,0.095-0.588,0.113c-0.228,0.02-0.445,0.039-0.659,0.057v0.916H58.9V63.72c-0.243-0.018-0.455-0.057-0.65-0.104
            	C58.056,63.564,57.856,63.498,57.653,63.413z M49.293,63.445c-0.263-0.105-0.452-0.265-0.569-0.466
            	c-0.117-0.204-0.175-0.462-0.175-0.777L48.53,44.951L48.3,44.754l-4.854,0.265l0.023,0.972c0.264,0.019,0.982-0.18,1.41-0.091
            	c0.433,0.089,0.229,0.009,0.373,0.137c0.218,0.194-0.072-0.096,0.162,0.114c0.061,0.054,0.075,0.104,0.119,0.154
            	c0.04,0.046,0.083,0.167,0.124,0.318c0.087,0.332,0.16,0.813,0.163,0.98l0.212,14.761c0.005,0.323-0.065,0.587-0.189,0.79
            	c-0.125,0.202-0.314,0.346-0.568,0.424c-0.153,0.046-0.347,0.084-0.582,0.102c-0.236,0.022-0.458,0.046-0.666,0.064v0.891h6.51
            	v-0.891c-0.24-0.018-0.462-0.051-0.656-0.097C49.685,63.602,49.492,63.537,49.293,63.445z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-2 left-2">
        <div class="padded">
          <a href="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="128px" height="70px" viewBox="0 0 128 70" style="enable-background:new 0 0 128 70;" xml:space="preserve">
            <style type="text/css">
            	.deep-violet{fill:#190033;}
            </style>
            <path class="deep-violet" d="M54.621,25.193c-2.915,0-5.153,0.833-6.715,2.498c-1.562,1.665-2.342,4.076-2.342,7.234
            	c0,3.157,0.779,5.579,2.336,7.266c1.557,1.687,3.789,2.53,6.695,2.53c2.906,0,5.138-0.843,6.695-2.53
            	c1.557-1.687,2.335-4.1,2.335-7.24c0-3.148-0.772-5.562-2.316-7.24C59.765,26.032,57.536,25.193,54.621,25.193z M54.595,41.347
            	c-1.6,0-2.803-0.536-3.607-1.609c-0.804-1.072-1.207-2.668-1.207-4.788c0-2.119,0.406-3.717,1.22-4.794
            	c0.813-1.077,2.02-1.615,3.62-1.615c3.192,0,4.788,2.137,4.788,6.41C59.409,39.215,57.804,41.347,54.595,41.347z M79.412,34.152
            	c0.614-0.869,0.921-1.862,0.921-2.978c0-1.912-0.619-3.337-1.855-4.275c-1.237-0.938-3.145-1.408-5.722-1.408h-5.527v18.969h4.022
            	v-7.279h2.141l4.528,7.279h4.463c-0.865-1.246-2.725-4-5.579-8.265C77.929,35.703,78.798,35.022,79.412,34.152z M75.364,33.277
            	c-0.606,0.424-1.544,0.636-2.816,0.636h-1.298v-5.125h1.22c1.297,0,2.255,0.19,2.874,0.571c0.618,0.381,0.928,1.021,0.928,1.92
            	C76.272,32.187,75.969,32.853,75.364,33.277z M96.955,34.152c0.614-0.869,0.921-1.862,0.921-2.978c0-1.912-0.619-3.337-1.855-4.275
            	c-1.237-0.938-3.144-1.408-5.722-1.408h-5.527v18.969h4.022v-7.279h2.141l4.528,7.279h4.463c-0.865-1.246-2.725-4-5.579-8.265
            	C95.471,35.703,96.34,35.022,96.955,34.152z M92.906,33.277c-0.606,0.424-1.544,0.636-2.816,0.636h-1.298v-5.125h1.22
            	c1.298,0,2.256,0.19,2.874,0.571c0.619,0.381,0.928,1.021,0.928,1.92C93.815,32.187,93.512,32.853,92.906,33.277z M102.313,25.491
            	h4.022v18.969h-4.022V25.491z M125.684,27.71c-1.544-1.678-3.774-2.517-6.689-2.517c-2.915,0-5.153,0.833-6.715,2.498
            	c-1.561,1.665-2.342,4.076-2.342,7.234c0,3.157,0.779,5.579,2.336,7.266c1.557,1.687,3.789,2.53,6.695,2.53
            	c2.906,0,5.138-0.843,6.695-2.53c1.557-1.687,2.335-4.1,2.335-7.24C128,31.802,127.228,29.389,125.684,27.71z M118.969,41.347
            	c-1.6,0-2.803-0.536-3.607-1.609c-0.804-1.072-1.207-2.668-1.207-4.788c0-2.119,0.406-3.717,1.22-4.794
            	c0.813-1.077,2.02-1.615,3.62-1.615c3.192,0,4.788,2.137,4.788,6.41C123.783,39.215,122.178,41.347,118.969,41.347z M34.25,30.214
            	c-0.801,1.068-1.203,2.656-1.206,4.762c0.003,2.106,0.405,3.694,1.206,4.762c0.804,1.073,2.007,1.609,3.607,1.609
            	c1.546,0,2.837-0.664,3.616-1.353l2.164,3.03c-1.475,1.13-3.401,1.696-5.78,1.696c-2.906,0-5.138-0.843-6.695-2.53
            	c-1.548-1.677-2.325-4.083-2.334-7.214c0.009-3.131,0.786-5.537,2.334-7.214c1.557-1.687,3.789-2.53,6.695-2.53
            	c2.379,0,4.305,0.566,5.78,1.696l-2.164,3.03c-0.778-0.689-2.069-1.353-3.616-1.353C36.257,28.605,35.055,29.142,34.25,30.214z
            	 M20.832,31.759c1.252,1.829,1.663,4.136,1.186,6.673c-0.912,4.862-5.324,8.739-10.262,9.02c-0.235,0.013-0.468,0.02-0.698,0.02
            	c-2.892,0-5.443-1.046-7.412-3.049c-1.854-1.885-3.099-4.554-3.505-7.515c-0.806-5.865,1.843-12.563,8.465-14.018
            	c2.86-0.628,5.829-0.442,8.588,0.536c0.513,0.182,0.781,0.745,0.599,1.257c-0.181,0.513-0.745,0.78-1.257,0.599
            	c-2.378-0.843-5.044-1.009-7.508-0.468c-5.456,1.198-7.619,6.856-6.936,11.826c0.637,4.638,3.832,9.171,9.553,8.846
            	c3.994-0.227,7.701-3.486,8.439-7.417c0.383-2.041,0.088-3.79-0.876-5.198c-1.085-1.584-2.961-2.664-5.425-3.124
            	c-2.348-0.438-4.787,0.693-5.926,2.751c-0.989,1.787-0.707,3.737,0.776,5.348c0.849,0.923,2.038,1.397,3.099,1.237
            	c1.061-0.16,1.974-1.066,2.035-2.019c0.029-0.456-0.186-0.964-0.562-1.325c-0.321-0.309-0.713-0.462-1.072-0.427
            	c-0.539,0.056-1.025-0.337-1.081-0.878c-0.056-0.541,0.337-1.025,0.878-1.081c0.938-0.098,1.9,0.255,2.64,0.966
            	c0.794,0.763,1.228,1.835,1.162,2.869c-0.12,1.889-1.713,3.541-3.706,3.842c-1.701,0.257-3.556-0.452-4.842-1.851
            	c-2.063-2.242-2.455-5.096-1.05-7.635c1.544-2.789,4.837-4.323,8.009-3.733C17.132,28.37,19.445,29.735,20.832,31.759z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="padded"><a href="">Logo</a></div>
      </div>
      <div class="col-2">
        <div class="padded"><a href="">Logo</a></div>
      </div>
      <div class="col-2">
        <div class="padded"><a href="">Logo</a></div>
      </div>
      <div class="col-2">
        <div class="padded"><a href="">Logo</a></div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed sky" data-background-color="#95B3CE" data-overlay="#95B3CE" id="lorem">
    <div class="flex container">
      <div class="col-10 right-2">
        <div class="padded">
          <p class="label">Dolor</p>
          <h2 class="title">Lorem & Ipsum</h2>
        </div>
      </div>
      <div class="col-8 left-2 right-2">
        <div class="padded">

        </div>
      </div>
    </div>
  </div>

</div>
